# 장애인 편의시설 데이터 결합

### step1. 필요한 패키지 및 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np

In [88]:
df1 = pd.read_excel('pydata/지하철 편의시설 현황 취합.xlsx', sheet_name=0).iloc[:, 0:12]
df2 = pd.read_excel('pydata/지하철 편의시설 현황 취합.xlsx', sheet_name=1).drop(['호선 번호', '시군구 코드'], axis = 1)
df3 = pd.read_excel('pydata/지하철 편의시설 현황 취합.xlsx', sheet_name=3).iloc[:, 0:7] # 비고 삭제
df4 = pd.read_excel('pydata/지하철 편의시설 현황 취합.xlsx', sheet_name=4)
df5 = pd.read_excel('pydata/지하철 편의시설 현황 취합.xlsx', sheet_name=5).drop(columns=['무인발매기'], axis = 1)
df6 = pd.read_excel('pydata/지하철 편의시설 현황 취합.xlsx', sheet_name=6)
df7 = pd.read_excel('pydata/지하철 편의시설 현황 취합.xlsx', sheet_name=7).drop(columns=['무인발매기'], axis = 1)
df8 = pd.read_excel('pydata/지하철 편의시설 현황 취합.xlsx', sheet_name=8)

### step2. 데이터 기본 정보 확인 및 결측값 대체

In [89]:
df1.fillna(value = 0, inplace = True)
df1.head()

,호선,역명,엘리베이터,에스컬레이터,수평보행기,휠체어리프트,이동식안전발판,전동휠체어급속충전기,장애인화장실,음성유도기,위도,경도
0,1호선,동묘앞,7.0,12.0,0.0,0.0,1.0,1.0,4.0,37.0,37.573246,127.016589
1,1호선,종로3가,3.0,4.0,0.0,0.0,1.0,1.0,1.0,48.0,37.570436,126.992148
2,1호선,종각,4.0,2.0,0.0,0.0,1.0,1.0,1.0,38.0,37.570176,126.983197
3,1호선,서울역,4.0,5.0,0.0,1.0,1.0,0.0,1.0,33.0,37.555946,126.972317
4,1호선,시청,3.0,3.0,0.0,0.0,1.0,0.0,1.0,32.0,37.565704,126.976862

In [4]:
print(df1.isnull().sum())
print(df1.info())
print(df1.shape)

호선            0
역명            0
엘리베이터         0
에스컬레이터        0
수평보행기         0
휠체어리프트        0
이동식안전발판       0
전동휠체어급속충전기    0
장애인화장실        0
음성유도기         0
위도            0
경도            0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   호선          296 non-null    object
 1   역명          296 non-null    object
 2   엘리베이터       296 non-null    float64
 3   에스컬레이터      296 non-null    float64
 4   수평보행기       296 non-null    float64
 5   휠체어리프트      296 non-null    float64
 6   이동식안전발판     296 non-null    float64
 7   전동휠체어급속충전기  296 non-null    float64
 8   장애인화장실      296 non-null    float64
 9   음성유도기       296 non-null    float64
 10  위도          296 non-null    float64
 11  경도          296 non-null    float64
dtypes: float64(10), object(2)
memory usage: 27.9+ KB
None
(296, 12)

In [5]:
df2.head()

,호선,역명,시군구 이름,휠체어리프트,장애인화장실,지체장애인 화장실,엘리베이터,에스컬레이터,점자유도타일,점자유도블럭,핸드레일 점자판,촉지도,전용개찰구,시각장애인용 안내방송,청각장애인용 안내싸인,음성유도기,승강장안전타일,휠체어용 개찰구
0,1호선,도봉산,서울,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1호선,도봉,서울,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1호선,방학,서울,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1호선,녹천,서울,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1호선,월계,서울,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
print(df2.isnull().sum())
print(df2.info())
print(df2.shape)

호선              0
역명              0
시군구 이름          0
휠체어리프트         14
장애인화장실         14
지체장애인 화장실      14
엘리베이터          14
에스컬레이터         14
점자유도타일         14
점자유도블럭         14
핸드레일 점자판       14
촉지도            14
전용개찰구          14
시각장애인용 안내방송    14
청각장애인용 안내싸인    14
음성유도기          14
승강장안전타일        14
휠체어용 개찰구       14
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   호선           384 non-null    object
 1   역명           384 non-null    object
 2   시군구 이름       384 non-null    object
 3   휠체어리프트       370 non-null    float64
 4   장애인화장실       370 non-null    float64
 5   지체장애인 화장실    370 non-null    float64
 6   엘리베이터        370 non-null    float64
 7   에스컬레이터       370 non-null    float64
 8   점자유도타일       370 non-null    float64
 9   점자유도블럭       370 non-null    float64
 10  핸드레일 점자판     370 non-null    float64
 11  촉지도          370 non-null    float64
 12  전용개찰구        370 non-null    float64
 13  시각장애인용 안내방송  370 non-null    float64
 14  청각장애인용 안내싸인  370 non-null    float64
 15  음성유도기        370 non-null    float64
 16  승강장안전타일      370 non-null    float64
 17  휠체어용 개찰구     370 non-null    float64
dtypes: float64(15), object(3)
memory usage: 54.1+ KB
None
(384, 18)

In [7]:
df3.head()

      호선        역명 장애인화장실 엘리베이터 에스컬레이터 점자유도블럭 핸드레일 점자판
0  우이신설선     북한산우이      ○     ○      ○      ○        ○
1  우이신설선      솔밭공원      ○     ○      ○      ○        ○
2  우이신설선  4.19민주묘지      ○     ○      ○      ○        ○
3  우이신설선       가오리      ○     ○      ○      ○        ○
4  우이신설선        화계      ○     ○      ○      ○        ○

In [8]:
print(df3.isnull().sum())
print(df3.info())
print(df3.shape)

호선          0
역명          0
장애인화장실      0
엘리베이터       0
에스컬레이터      0
점자유도블럭      0
핸드레일 점자판    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   호선        13 non-null     object
 1   역명        13 non-null     object
 2   장애인화장실    13 non-null     object
 3   엘리베이터     13 non-null     object
 4   에스컬레이터    13 non-null     object
 5   점자유도블럭    13 non-null     object
 6   핸드레일 점자판  13 non-null     object
dtypes: object(7)
memory usage: 856.0+ bytes
None
(13, 7)

In [9]:
df4.head()

    호선    역명 장애인화장실  엘리베이터  에스컬레이터 점자유도블럭 핸드레일 점자판
0  9호선    개화      ○      2       4      ○        ○
1  9호선  김포공항      ○      3      18      ○        ○
2  9호선  공항시장      ○      3      18      ○        ○
3  9호선   신방화      ○      4      22      ○        ○
4  9호선  마곡나루      ○      4      12      ○        ○

In [10]:
print(df4.isnull().sum())
print(df4.info())
print(df4.shape)

호선          0
역명          0
장애인화장실      0
엘리베이터       0
에스컬레이터      0
점자유도블럭      0
핸드레일 점자판    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   호선        38 non-null     object
 1   역명        38 non-null     object
 2   장애인화장실    38 non-null     object
 3   엘리베이터     38 non-null     int64
 4   에스컬레이터    38 non-null     int64
 5   점자유도블럭    38 non-null     object
 6   핸드레일 점자판  38 non-null     object
dtypes: int64(2), object(5)
memory usage: 2.2+ KB
None
(38, 7)

In [28]:
df5.head()

        호선        역명 PSD 행선안내기 에스컬레이터 장애인화장실 엘리베이터 점자유도블럭 핸드레일 점자판
0  김포 골드라인      김포공항   O     O      O      O     O      O        O
1  김포 골드라인        고촌   O     O      O      O     O      O        O
2  김포 골드라인        풍무   O     O      O      O     O      O        O
3  김포 골드라인  사우(김포시청)   O     O      O      O     O      O        O
4  김포 골드라인      걸포북변   O     O      O      O     O      O        O

In [12]:
print(df5.isnull().sum())
print(df5.info())
print(df5.shape)

호선          0
역명          0
PSD         0
행선안내기       0
에스컬레이터      0
장애인화장실      0
엘리베이터       0
유도블럭        0
핸드레일 점자판    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   호선        10 non-null     object
 1   역명        10 non-null     object
 2   PSD       10 non-null     object
 3   행선안내기     10 non-null     object
 4   에스컬레이터    10 non-null     object
 5   장애인화장실    10 non-null     object
 6   엘리베이터     10 non-null     object
 7   유도블럭      10 non-null     object
 8   핸드레일 점자판  10 non-null     object
dtypes: object(9)
memory usage: 848.0+ bytes
None
(10, 9)

In [13]:
df6.head()

     호선        역명 휠체어용 개찰구 계단 핸드레일 장애인엘리베이터 승강장안전타일 점자유도타일 핸드레일 점자판 음성유도기 촉지도
0  공항철도       서울역        O       O        O       O      O        O     O   O
1  공항철도        공덕        O       O        O       O      O        O     O   O
2  공항철도      홍대입구        O       O        O       O      O        O     O   O
3  공항철도  디지털미디어시티        O       O        O       O      O        O     O   O
4  공항철도      마곡나루        O       O        O       O      O        O     O   O

In [14]:
print(df6.isnull().sum())
print(df6.info())
print(df6.shape)

호선          0
역명          0
휠체어용 개찰구    0
계단 핸드레일     0
장애인엘리베이터    0
승강장안전타일     0
점자유도타일      0
핸드레일 점자판    0
음성유도기       0
촉지도         0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   호선        6 non-null      object
 1   역명        6 non-null      object
 2   휠체어용 개찰구  6 non-null      object
 3   계단 핸드레일   6 non-null      object
 4   장애인엘리베이터  6 non-null      object
 5   승강장안전타일   6 non-null      object
 6   점자유도타일    6 non-null      object
 7   핸드레일 점자판  6 non-null      object
 8   음성유도기     6 non-null      object
 9   촉지도       6 non-null      object
dtypes: object(10)
memory usage: 608.0+ bytes
None
(6, 10)

In [15]:
df7.head()

,호선,역명,장애인화장실(남),장애인화장실(여),엘리베이터,에스컬레이터,음성유도기,촉지도,휠체어리프트,점자유도블럭,점자유도타일,이동식안전발판,휠체어용 개찰구,행선안내기,PSD
0,1호선,노량진,0,1,1,2,17,1,5,있음,있음,있음,2,있음,있음
1,1호선,외대앞,1,1,0,0,12,0,1,있음,있음,있음,1,있음,있음
2,1호선,광운대,1,1,1,0,30,0,2,있음,있음,있음,2,있음,있음
3,1호선,창동,0,0,0,0,4,0,0,있음,있음,있음,0,있음,있음
4,1호선,온수,1,1,4,8,26,1,0,있음,있음,있음,2,있음,있음

In [16]:
print(df7.isnull().sum())
print(df7.info())
print(df7.shape)

호선           0
역명           0
장애인화장실(남)    0
장애인화장실(여)    0
엘리베이터        0
에스컬레이터       0
음성유도기        0
촉지도          0
휠체어리프트       0
점자유도블럭       0
점자유도타일       0
이동식안전발판      0
휠체어용 개찰구     0
행선안내기        0
PSD          0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   호선         17 non-null     object
 1   역명         17 non-null     object
 2   장애인화장실(남)  17 non-null     int64
 3   장애인화장실(여)  17 non-null     int64
 4   엘리베이터      17 non-null     int64
 5   에스컬레이터     17 non-null     int64
 6   음성유도기      17 non-null     int64
 7   촉지도        17 non-null     int64
 8   휠체어리프트     17 non-null     int64
 9   점자유도블럭     17 non-null     object
 10  점자유도타일     17 non-null     object
 11  이동식안전발판    17 non-null     object
 12  휠체어용 개찰구   17 non-null     int64
 13  행선안내기      17 non-null     object
 14  PSD        17 non-null     object
dtypes: int64(8), object(7)
memory usage: 2.1+ KB
None
(17, 15)

In [90]:
df8.head()

,호선,역명,장애인화장실,엘리베이터,에스컬레이터,음성유도기,촉지도,휠체어리프트,점자유도블럭,전동휠체어급속충전기,...,이동식안전발판,계단 핸드레일,핸드레일 점자판,승강장안전타일,교통약자 전용개찰구,휠체어용 개찰구,시각장애인용 안내방송,청각장애인용 안내싸인,행선안내기,PSD
0,경의중앙선,양원,2,4,6,20,1,0,14,1,...,0,8,25,2,1,1,0,0,8,2

In [91]:
print(df8.isnull().sum())
print(df8.info())
print(df8.shape)

호선             0
역명             0
장애인화장실         0
엘리베이터          0
에스컬레이터         0
음성유도기          0
촉지도            0
휠체어리프트         0
점자유도블럭         0
전동휠체어급속충전기     0
수평보행기          0
이동식안전발판        0
계단 핸드레일        0
핸드레일 점자판       0
승강장안전타일        0
교통약자 전용개찰구     0
휠체어용 개찰구       0
시각장애인용 안내방송    0
청각장애인용 안내싸인    0
행선안내기          0
PSD            0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   호선           1 non-null      object
 1   역명           1 non-null      object
 2   장애인화장실       1 non-null      int64
 3   엘리베이터        1 non-null      int64
 4   에스컬레이터       1 non-null      int64
 5   음성유도기        1 non-null      int64
 6   촉지도          1 non-null      int64
 7   휠체어리프트       1 non-null      int64
 8   점자유도블럭       1 non-null      int64
 9   전동휠체어급속충전기   1 non-null      int64
 10  수평보행기        1 non-null      int64
 11  이동식안전발판      1 non-null      int64
 12  계단 핸드레일      1 non-null      int64
 13  핸드레일 점자판     1 non-null      int64
 14  승강장안전타일      1 non-null      int64
 15  교통약자 전용개찰구   1 non-null      int64
 16  휠체어용 개찰구     1 non-null      int64
 17  시각장애인용 안내방송  1 non-null      int64
 18  청각장애인용 안내싸인  1 non-null      int64
 19  행선안내기        1 non-null      int64
 20  PSD          1 non-null      int64
dtypes: int64(19), object(2)
memory usage: 296.0+ bytes
None
(1, 21)

### step3. 데이터프레임 합치기(concat)

In [92]:
merge_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8]).sort_values(by=['역명', '위도', '경도'], ascending=[True, False, False]).reset_index()
# merge_df.drop(columns=['index'], axis = 1, inplace=True)
merge_df.head()

,index,호선,역명,엘리베이터,에스컬레이터,수평보행기,휠체어리프트,이동식안전발판,전동휠체어급속충전기,장애인화장실,...,청각장애인용 안내싸인,승강장안전타일,휠체어용 개찰구,PSD,행선안내기,계단 핸드레일,장애인엘리베이터,장애인화장실(남),장애인화장실(여),교통약자 전용개찰구
0,372,우이신설선,4.19민주묘지,1.0,1.0,NaN,0.0,NaN,NaN,1.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,우이신설선,4.19민주묘지,○,○,NaN,NaN,NaN,NaN,○,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,경의중앙선,DMC,9,20,NaN,0.0,없음,NaN,NaN,...,NaN,NaN,1,있음,있음,NaN,NaN,1.0,1.0,NaN
3,61,3호선,가락시장,3.0,22.0,0.0,0.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,266,8호선,가락시장,6.0,12.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
merge_df[['역명', '시군구 이름']].head()

         역명 시군구 이름
0  4.19민주묘지     서울
1  4.19민주묘지    NaN
2       DMC    NaN
3      가락시장    NaN
4      가락시장    NaN

In [94]:
print(merge_df.isnull().sum())
print(merge_df.info())
print(merge_df.shape)

index            0
호선               0
역명               0
엘리베이터           20
에스컬레이터          20
수평보행기          468
휠체어리프트          81
이동식안전발판        451
전동휠체어급속충전기     468
장애인화장실          37
음성유도기           75
위도             469
경도             469
시군구 이름         381
지체장애인 화장실      395
점자유도타일         378
점자유도블럭         310
핸드레일 점자판       327
촉지도            371
전용개찰구          395
시각장애인용 안내방송    394
청각장애인용 안내싸인    394
승강장안전타일        388
휠체어용 개찰구       371
PSD            737
행선안내기          737
계단 핸드레일        758
장애인엘리베이터       759
장애인화장실(남)      748
장애인화장실(여)      748
교통약자 전용개찰구     764
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        765 non-null    int64
 1   호선           765 non-null    object
 2   역명           765 non-null    object
 3   엘리베이터        745 non-null    object
 4   에스컬레이터       745 non-null    object
 5   수평보행기        297 non-null    float64
 6   휠체어리프트       684 non-null    float64
 7   이동식안전발판      314 non-null    object
 8   전동휠체어급속충전기   297 non-null    float64
 9   장애인화장실       728 non-null    object
 10  음성유도기        690 non-null    object
 11  위도           296 non-null    float64
 12  경도           296 non-null    float64
 13  시군구 이름       384 non-null    object
 14  지체장애인 화장실    370 non-null    float64
 15  점자유도타일       387 non-null    object
 16  점자유도블럭       455 non-null    object
 17  핸드레일 점자판     438 non-null    object
 18  촉지도          394 non-null    object
 19  전용개찰구        370 non-null    float64
 20  시각장애인용 안내방송  371 non-null    float64
 21  청각장애인용 안내싸인  371 non-null    float64
 22  승강장안전타일      377 non-null    object
 23  휠체어용 개찰구     394 non-null    object
 24  PSD          28 non-null     object
 25  행선안내기        28 non-null     object
 26  계단 핸드레일      7 non-null      object
 27  장애인엘리베이터     6 non-null      object
 28  장애인화장실(남)    17 non-null     float64
 29  장애인화장실(여)    17 non-null     float64
 30  교통약자 전용개찰구   1 non-null      float64
dtypes: float64(12), int64(1), object(18)
memory usage: 185.4+ KB
None
(765, 31)

In [96]:
cond = (merge_df.역명 == '양원')
merge_df[cond]

,index,호선,역명,엘리베이터,에스컬레이터,수평보행기,휠체어리프트,이동식안전발판,전동휠체어급속충전기,장애인화장실,...,청각장애인용 안내싸인,승강장안전타일,휠체어용 개찰구,PSD,행선안내기,계단 핸드레일,장애인엘리베이터,장애인화장실(남),장애인화장실(여),교통약자 전용개찰구
508,32,경의중앙선,양원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,0,경의중앙선,양원,4,6,0.0,0.0,0,1.0,2,...,0.0,2,1,2,8,8,NaN,NaN,NaN,1.0

### step4. 결측값 및 문자열 -> 값으로 대체
- nan, 없음 -> 0
-  ○, 있음 -> 1

In [97]:
# nan to 0
merge_df.fillna(value = 0, inplace = True)
merge_df.head()

,index,호선,역명,엘리베이터,에스컬레이터,수평보행기,휠체어리프트,이동식안전발판,전동휠체어급속충전기,장애인화장실,...,청각장애인용 안내싸인,승강장안전타일,휠체어용 개찰구,PSD,행선안내기,계단 핸드레일,장애인엘리베이터,장애인화장실(남),장애인화장실(여),교통약자 전용개찰구
0,372,우이신설선,4.19민주묘지,1.0,1.0,0.0,0.0,0,0.0,1.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0
1,2,우이신설선,4.19민주묘지,○,○,0.0,0.0,0,0.0,○,...,0.0,0,0,0,0,0,0,0.0,0.0,0.0
2,7,경의중앙선,DMC,9,20,0.0,0.0,없음,0.0,0,...,0.0,0,1,있음,있음,0,0,1.0,1.0,0.0
3,61,3호선,가락시장,3.0,22.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0,0,0,0,0,0,0.0,0.0,0.0
4,266,8호선,가락시장,6.0,12.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0,0,0,0,0,0,0.0,0.0,0.0

In [98]:
col_list = merge_df.columns.tolist()[2:]

In [99]:
col_list

['역명',
 '엘리베이터',
 '에스컬레이터',
 '수평보행기',
 '휠체어리프트',
 '이동식안전발판',
 '전동휠체어급속충전기',
 '장애인화장실',
 '음성유도기',
 '위도',
 '경도',
 '시군구 이름',
 '지체장애인 화장실',
 '점자유도타일',
 '점자유도블럭',
 '핸드레일 점자판',
 '촉지도',
 '전용개찰구',
 '시각장애인용 안내방송',
 '청각장애인용 안내싸인',
 '승강장안전타일',
 '휠체어용 개찰구',
 'PSD',
 '행선안내기',
 '계단 핸드레일',
 '장애인엘리베이터',
 '장애인화장실(남)',
 '장애인화장실(여)',
 '교통약자 전용개찰구']

In [101]:
for col in col_list:
    merge_df.replace({col : '있음'}, {col : 1}, inplace = True)
    merge_df.replace({col : '없음'}, {col : 0}, inplace = True)
    merge_df.replace({col : '○'}, {col : 1}, inplace = True)
    merge_df.replace({col : 'O'}, {col : 1}, inplace = True)
merge_df.head()

,index,호선,역명,엘리베이터,에스컬레이터,수평보행기,휠체어리프트,이동식안전발판,전동휠체어급속충전기,장애인화장실,...,청각장애인용 안내싸인,승강장안전타일,휠체어용 개찰구,PSD,행선안내기,계단 핸드레일,장애인엘리베이터,장애인화장실(남),장애인화장실(여),교통약자 전용개찰구
0,372,우이신설선,4.19민주묘지,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0
1,2,우이신설선,4.19민주묘지,1.0,1,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0
2,7,경의중앙선,DMC,9.0,20,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1,1,0,0,1.0,1.0,0.0
3,61,3호선,가락시장,3.0,22.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0
4,266,8호선,가락시장,6.0,12.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0,0,0,0,0.0,0.0,0.0

In [36]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        765 non-null    int64
 1   호선           765 non-null    object
 2   역명           765 non-null    object
 3   엘리베이터        765 non-null    float64
 4   에스컬레이터       765 non-null    object
 5   수평보행기        765 non-null    float64
 6   휠체어리프트       765 non-null    float64
 7   이동식안전발판      765 non-null    float64
 8   전동휠체어급속충전기   765 non-null    float64
 9   장애인화장실       765 non-null    float64
 10  음성유도기        765 non-null    float64
 11  위도           765 non-null    float64
 12  경도           765 non-null    float64
 13  시군구 이름       765 non-null    object
 14  지체장애인 화장실    765 non-null    float64
 15  점자유도타일       765 non-null    float64
 16  점자유도블럭       765 non-null    float64
 17  핸드레일 점자판     765 non-null    float64
 18  촉지도          765 non-null    float64
 19  전용개찰구        765 non-null    float64
 20  시각장애인용 안내방송  765 non-null    float64
 21  청각장애인용 안내싸인  765 non-null    float64
 22  승강장안전타일      765 non-null    float64
 23  휠체어용 개찰구     765 non-null    float64
 24  PSD          765 non-null    int64
 25  행선안내기        765 non-null    int64
 26  계단 핸드레일      765 non-null    int64
 27  장애인엘리베이터     765 non-null    int64
 28  장애인화장실(남)    765 non-null    float64
 29  장애인화장실(여)    765 non-null    float64
 30  교통약자 전용개찰구   765 non-null    float64
dtypes: float64(22), int64(5), object(4)
memory usage: 185.4+ KB

In [102]:
merge_df[['역명', '시군구 이름']]

           역명 시군구 이름
0    4.19민주묘지     서울
1    4.19민주묘지      0
2         DMC      0
3        가락시장      0
4        가락시장      0
..        ...    ...
760     효창공원앞      0
761     효창공원앞     서울
762     효창공원앞     서울
763        흑석     서울
764        흑석      0

[765 rows x 2 columns]

### step5. 같은 역이름은 같은 위경도 값 넣기 / 편의시설 개수가 다른 것은 더 큰 값을 넣기

In [103]:
melt_df = merge_df.drop(columns='index').melt(id_vars=['호선', '역명', '시군구 이름'])
melt_df.head()

      호선        역명 시군구 이름 variable value
0  우이신설선  4.19민주묘지     서울    엘리베이터   1.0
1  우이신설선  4.19민주묘지      0    엘리베이터   1.0
2  경의중앙선       DMC      0    엘리베이터   9.0
3    3호선      가락시장      0    엘리베이터   3.0
4    8호선      가락시장      0    엘리베이터   6.0

In [104]:
pivot_df = pd.pivot_table(melt_df, index = '역명', columns = 'variable', values = 'value', aggfunc='max')
# pivot_df = pivot_df.drop(columns='variable')

In [105]:
pivot_df

variable,PSD,경도,계단 핸드레일,교통약자 전용개찰구,수평보행기,승강장안전타일,시각장애인용 안내방송,에스컬레이터,엘리베이터,위도,...,전용개찰구,점자유도블럭,점자유도타일,지체장애인 화장실,청각장애인용 안내싸인,촉지도,핸드레일 점자판,행선안내기,휠체어리프트,휠체어용 개찰구
역명,,,,,,,,,,,,,,,,,,,,,
4.19민주묘지,0,0.0,0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0
DMC,1,0.0,0,0.0,0.0,0.0,0.0,20,9.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1,0.0,1.0
가락시장,0,127.119551,0,0.0,0.0,0.0,0.0,22.0,6.0,37.492733,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,1.0,0.0
가산디지털단지,0,126.882652,0,0.0,0.0,0.0,0.0,12.0,4.0,37.48144,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,4.0,0.0
가양,0,0.0,0,0.0,0.0,0.0,0.0,26,4.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
화랑대,0,127.083815,0,0.0,0.0,0.0,0.0,4.0,4.0,37.620165,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
회기,1,0.0,0,0.0,0.0,0.0,0.0,7,6.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1,0.0,1.0
회현,0,126.970788,0,0.0,0.0,0.0,0.0,6.0,2.0,37.554713,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
효창공원앞,0,126.961339,0,0.0,0.0,0.0,0.0,6.0,2.0,37.539289,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0,1.0,0.0
흑석,0,0.0,0,0.0,0.0,0.0,0.0,16,4.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0,0.0,0.0

In [41]:
pivot_df.columns

Index(['PSD', '경도', '계단 핸드레일', '교통약자 전용개찰구', '수평보행기', '승강장안전타일', '시각장애인용 안내방송',
       '에스컬레이터', '엘리베이터', '위도', '음성유도기', '이동식안전발판', '장애인엘리베이터', '장애인화장실',
       '장애인화장실(남)', '장애인화장실(여)', '전동휠체어급속충전기', '전용개찰구', '점자유도블럭', '점자유도타일',
       '지체장애인 화장실', '청각장애인용 안내싸인', '촉지도', '핸드레일 점자판', '행선안내기', '휠체어리프트',
       '휠체어용 개찰구'],
      dtype='object', name='variable')

### step6. 호선 데이터 + 역명 데이터 merge

In [106]:
line_df = merge_df[['호선', '역명', '시군구 이름']]

In [107]:
final_df = pd.merge(pivot_df, line_df, how='inner', on='역명').drop_duplicates().set_index('호선').sort_values(by=['호선', '역명'], ascending=[True, True]).reset_index()
final_df

,호선,역명,PSD,경도,계단 핸드레일,교통약자 전용개찰구,수평보행기,승강장안전타일,시각장애인용 안내방송,에스컬레이터,...,점자유도블럭,점자유도타일,지체장애인 화장실,청각장애인용 안내싸인,촉지도,핸드레일 점자판,행선안내기,휠체어리프트,휠체어용 개찰구,시군구 이름
0,1호선,가산디지털단지,0,126.882652,0,0.0,0.0,0.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,4.0,0.0,서울
1,1호선,개봉,0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0,1.0,0.0,서울
2,1호선,광운대,1,0.0,0,0.0,0.0,0.0,0.0,0,...,1.0,1.0,0.0,0.0,0.0,0.0,1,2.0,2.0,서울
3,1호선,광운대,1,0.0,0,0.0,0.0,0.0,0.0,0,...,1.0,1.0,0.0,0.0,0.0,0.0,1,2.0,2.0,0
4,1호선,구로,0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0,서울
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747,우이신설선,신설동,0,127.02485,0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0,6.0,0.0,0
748,우이신설선,정릉,0,0.0,0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0,서울
749,우이신설선,정릉,0,0.0,0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0,0
750,우이신설선,화계,0,0.0,0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0,서울
751,우이신설선,화계,0,0.0,0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0,0

In [108]:
final_df = final_df.drop(columns='시군구 이름').drop_duplicates()

In [109]:
final_df

,호선,역명,PSD,경도,계단 핸드레일,교통약자 전용개찰구,수평보행기,승강장안전타일,시각장애인용 안내방송,에스컬레이터,...,전용개찰구,점자유도블럭,점자유도타일,지체장애인 화장실,청각장애인용 안내싸인,촉지도,핸드레일 점자판,행선안내기,휠체어리프트,휠체어용 개찰구
0,1호선,가산디지털단지,0,126.882652,0,0.0,0.0,0.0,0.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,4.0,0.0
1,1호선,개봉,0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1.0,0.0
2,1호선,광운대,1,0.0,0,0.0,0.0,0.0,0.0,0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1,2.0,2.0
4,1호선,구로,0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0
5,1호선,구일,0,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,우이신설선,솔밭공원,0,0.0,0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0
744,우이신설선,솔샘,0,0.0,0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0
746,우이신설선,신설동,0,127.02485,0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,6.0,0.0
748,우이신설선,정릉,0,0.0,0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0
750,우이신설선,화계,0,0.0,0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0

In [110]:
city_name = df2[['역명', '시군구 이름']]
city_name

         역명 시군구 이름
0       도봉산     서울
1        도봉     서울
2        방학     서울
3        녹천     서울
4        월계     서울
..      ...    ...
379      정릉     서울
380  성신여대입구     서울
381      보문     서울
382     신설동     서울
383    김포공항     서울

[384 rows x 2 columns]

### step7. final_df + city_name 데이터 merge

In [111]:
final_df2 = pd.merge(city_name, final_df, how='inner', on='역명').drop_duplicates()
final_df2

,역명,시군구 이름,호선,PSD,경도,계단 핸드레일,교통약자 전용개찰구,수평보행기,승강장안전타일,시각장애인용 안내방송,...,전용개찰구,점자유도블럭,점자유도타일,지체장애인 화장실,청각장애인용 안내싸인,촉지도,핸드레일 점자판,행선안내기,휠체어리프트,휠체어용 개찰구
0,도봉산,서울,1호선,0,127.046194,0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,1.0,0.0
1,도봉산,서울,7호선,0,127.046194,0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0,1.0,0.0
4,도봉,서울,1호선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0
5,방학,서울,1호선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0
6,녹천,서울,1호선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,삼양,서울,우이신설선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0
603,삼양사거리,서울,우이신설선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0
604,솔샘,서울,우이신설선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0
605,북한산보국문,서울,우이신설선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0
606,정릉,서울,우이신설선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0,0.0,0.0

### step8. 점자유도블럭 vs 점자유도타일 중 더 큰 값을 적용하여 '점자유도블럭' 컬럼에 삽입

In [112]:
# 점자유도블럭, 점자유도타일 컬럼만 추출
a = final_df2[['점자유도블럭', '점자유도타일']]
a.head()

  점자유도블럭 점자유도타일
0    1.0    0.0
1    1.0    0.0
4    0.0    0.0
5    0.0    0.0
6    0.0    0.0

In [113]:
# 크기 비교 후, 데이터프레임(b) 생성
b = a.loc[:, ['점자유도블럭', '점자유도타일']].fillna(0).max(axis=1)
b = pd.DataFrame(b)
b.columns = ['점자유도블럭']
b.head()

   점자유도블럭
0     1.0
1     1.0
4     0.0
5     0.0
6     0.0

In [114]:
# final_df2 데이터의 '점자유도블럭', '점자유도타일' 컬럼을 삭제하고 b와 데이터 셋 결합
final_df2.drop(columns=['점자유도블럭', '점자유도타일'], inplace = True)
final_df2.columns

Index(['역명', '시군구 이름', '호선', 'PSD', '경도', '계단 핸드레일', '교통약자 전용개찰구', '수평보행기',
       '승강장안전타일', '시각장애인용 안내방송', '에스컬레이터', '엘리베이터', '위도', '음성유도기', '이동식안전발판',
       '장애인엘리베이터', '장애인화장실', '장애인화장실(남)', '장애인화장실(여)', '전동휠체어급속충전기', '전용개찰구',
       '지체장애인 화장실', '청각장애인용 안내싸인', '촉지도', '핸드레일 점자판', '행선안내기', '휠체어리프트',
       '휠체어용 개찰구'],
      dtype='object')

In [115]:
# 합친 데이터(final_df3) 생성
final_df3 = pd.concat([final_df2, b],axis=1)
final_df3.head()

,역명,시군구 이름,호선,PSD,경도,계단 핸드레일,교통약자 전용개찰구,수평보행기,승강장안전타일,시각장애인용 안내방송,...,전동휠체어급속충전기,전용개찰구,지체장애인 화장실,청각장애인용 안내싸인,촉지도,핸드레일 점자판,행선안내기,휠체어리프트,휠체어용 개찰구,점자유도블럭
0,도봉산,서울,1호선,0,127.046194,0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0,1.0,0.0,1.0
1,도봉산,서울,7호선,0,127.046194,0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0,1.0,0.0,1.0
4,도봉,서울,1호선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0,0.0
5,방학,서울,1호선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0,0.0
6,녹천,서울,1호선,0,0.0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,1.0,0.0,0.0

In [116]:
final_df3.to_excel('pydata/지하철 편의시설 현황 최종 취합_final.xlsx', index = False)