# [sklearn] 운동 종목 분류 모델

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('seaborn-whitegrid')
plt.rc('font', family = 'Malgun Gothic')
plt.rcParams['axes.unicode_minus'] = False

## 데이터 불러오기

In [2]:
raw_df = pd.read_excel('pydata/2017 장애인실태조사_최종공개.xlsx', sheet_name=1)
raw_df

,조사표 종류,가구원 일련번호(장애인),가구원 일련번호(응답자),조사지역(시도),응답자 유형,대리응답이유,장애유형확인1,장애유형확인2,장애유형확인3,개인번호,...,"보육,교육비","보호,간병비",재활기관이용료,통신비,"장애인보조기기 구입,유지비",부모사후 및 노후대비비,기타.4,월평균 총 추가비용,wg_p,ws_p
0,2,1,1,21,NaN,NaN,1,NaN,NaN,1,...,0,0,0,0,0,0,0,0,444.377794,1.132070
1,2,1,1,21,NaN,NaN,1,NaN,NaN,1,...,0,0,0,0,0,0,0,0,444.377794,1.132070
2,2,1,1,21,NaN,NaN,1,NaN,NaN,1,...,0,0,0,0,0,0,0,0,444.377794,1.132070
3,2,2,2,21,NaN,NaN,1,NaN,NaN,2,...,0,0,0,0,0,0,0,28,444.377794,1.132070
4,2,3,3,21,NaN,NaN,8,NaN,NaN,3,...,0,0,25,0,0,0,0,33,575.147902,1.465212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6544,2,2,2,31,NaN,NaN,1,NaN,NaN,2,...,0,0,0,0,0,0,0,77,61.800775,0.157440
6545,2,1,1,31,NaN,NaN,1,NaN,NaN,1,...,0,0,0,0,0,0,0,13,61.800775,0.157440
6546,2,1,1,31,NaN,NaN,1,NaN,NaN,1,...,0,0,0,0,0,0,0,6,61.800775,0.157440
6547,2,1,1,31,NaN,NaN,9,NaN,NaN,1,...,0,0,0,0,0,0,0,35,55.733914,0.141984
6548,2,6,6,31,NaN,NaN,2,NaN,NaN,6,...,0,0,0,0,0,0,0,0,68.607048,0.174779

---
## 데이터 정제(전처리)

### 필요한 정보만 추출
#### 1) 지체장애인 + 뇌병변장애인
#### 2) 현재 운동 중인 사람만 추출(**건강관리운동 == 1**)

In [3]:
cond1 = (raw_df['지체장애여부']== 1) # 1) 지체장애
cond2 = (raw_df['뇌병변장애여부'] == 1) # 1) 뇌병변장애
cond3 = (raw_df['지체장애여부'] != 1) & (raw_df['뇌병변장애여부'] != 1)

df = raw_df.loc[cond1 | cond2 | cond3].loc[raw_df['건광관리운동'] == 1] # 2) 운동하는 사람만 추출
df.head()

,조사표 종류,가구원 일련번호(장애인),가구원 일련번호(응답자),조사지역(시도),응답자 유형,대리응답이유,장애유형확인1,장애유형확인2,장애유형확인3,개인번호,...,"보육,교육비","보호,간병비",재활기관이용료,통신비,"장애인보조기기 구입,유지비",부모사후 및 노후대비비,기타.4,월평균 총 추가비용,wg_p,ws_p
0,2,1,1,21,NaN,NaN,1,NaN,NaN,1,...,0,0,0,0,0,0,0,0,444.377794,1.132070
2,2,1,1,21,NaN,NaN,1,NaN,NaN,1,...,0,0,0,0,0,0,0,0,444.377794,1.132070
3,2,2,2,21,NaN,NaN,1,NaN,NaN,2,...,0,0,0,0,0,0,0,28,444.377794,1.132070
4,2,3,3,21,NaN,NaN,8,NaN,NaN,3,...,0,0,25,0,0,0,0,33,575.147902,1.465212
5,2,2,2,21,NaN,NaN,9,NaN,NaN,2,...,0,0,0,0,0,0,0,346,427.939532,1.090193

In [4]:
df.shape

(3901, 1192)

In [4]:
# 장애유형 빈도 확인
df[['지체장애여부', '뇌병변장애여부']].value_counts()

지체장애여부  뇌병변장애여부
1       2          1951
2       2          1595
        1           341
1       1            14
dtype: int64

#### 3) 최대 빈도수를 갖는 만성질환 변수만 사용

In [5]:
# 만성질환 칼럼만 추출
disease_df = df[['01)만성질환명(고혈압)', '02)만성질환명(뇌졸중,중풍)', '03)만성질환명(심근경색증)', '04)만성질환명(협심증)', '05)만성질환명(이상지혈증)', '06)만성질환명(당뇨병)', '07)만성질환명(갑상선장애)', '08)만성질환명(천식)', '09)만성질환명(폐결핵)', '10)만성질환명(폐질환(만성기관 지염,폐기종)', '11)만성질환명(위십이지장궤양)', '12)만성질환명(B형간염)', '13)만성질환명(C형간염)', '14)만성질환명(간경변증)', '15)만성질환명(신부전)', '16)만성질환명(골관절염(퇴행성\n관절염))', '17)만성질환명(류마티스 관절염)', '18)만성질환명(골다공증)', '19)만성질환명(척추측만증)', '20)만성질환명(허리목통증)', '21)만성질환명(피부염)', '22)만성질환명(백내장)', '23)만성질환명(우울증)', '24)만성질환명(암)', '25)만성질환명(기타)']]
disease_df.head()

,01)만성질환명(고혈압),"02)만성질환명(뇌졸중,중풍)",03)만성질환명(심근경색증),04)만성질환명(협심증),05)만성질환명(이상지혈증),06)만성질환명(당뇨병),07)만성질환명(갑상선장애),08)만성질환명(천식),09)만성질환명(폐결핵),"10)만성질환명(폐질환(만성기관 지염,폐기종)",...,16)만성질환명(골관절염(퇴행성\n관절염)),17)만성질환명(류마티스 관절염),18)만성질환명(골다공증),19)만성질환명(척추측만증),20)만성질환명(허리목통증),21)만성질환명(피부염),22)만성질환명(백내장),23)만성질환명(우울증),24)만성질환명(암),25)만성질환명(기타)
0,2,2,2,2,2,2,1,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,1,2,2,2,2,1
4,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,1,2,1
5,1,2,2,2,1,1,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [7]:
# 2-> 0 변경
disease_lst = disease_df.columns.tolist()
for i in range(len(disease_lst)):
    disease_df.replace({disease_lst[i]: 2}, {disease_lst[i]: 0}, inplace = True)

disease_df.head()

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

,01)만성질환명(고혈압),"02)만성질환명(뇌졸중,중풍)",03)만성질환명(심근경색증),04)만성질환명(협심증),05)만성질환명(이상지혈증),06)만성질환명(당뇨병),07)만성질환명(갑상선장애),08)만성질환명(천식),09)만성질환명(폐결핵),"10)만성질환명(폐질환(만성기관 지염,폐기종)",...,16)만성질환명(골관절염(퇴행성\n관절염)),17)만성질환명(류마티스 관절염),18)만성질환명(골다공증),19)만성질환명(척추측만증),20)만성질환명(허리목통증),21)만성질환명(피부염),22)만성질환명(백내장),23)만성질환명(우울증),24)만성질환명(암),25)만성질환명(기타)
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
5,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# 열별로 각 만성질환 합 출력
# 고혈압, 허리목통증, 골관절염, 당뇨병
pd.DataFrame(disease_df.sum(axis = 0)).reset_index().sort_values(by = 0, ascending=False).head(4)

                       index     0
0              01)만성질환명(고혈압)  1737
19           20)만성질환명(허리목통증)  1206
15  16)만성질환명(골관절염(퇴행성\n관절염))   893
5              06)만성질환명(당뇨병)   838

### 필요한 변수만 추출

In [9]:
print(df.columns.tolist())

['조사표 종류', '가구원 일련번호(장애인)', '가구원 일련번호(응답자)', '조사지역(시도)', '응답자 유형', '대리응답이유', '장애유형확인1', '장애유형확인2', '장애유형확인3', '개인번호', '가구주와의 관계(가구주)', '성별', '생년', '생월', '만 나이', '장애등록 여부', '장애등록 연도', '등록장애유형(1순위)\xa0', '등록장애유형(2순위)', '장애등급', '본인을 포함한 총 가구원수', '본인을 포함한 총 장애인수', '가구 유형\xa0', '월 평균 총가구소득', '가구 주된 수입원', '가구 월평균 지출액', '주택 형태', '장애차별에 대한 인식', '장애인차별금지법 인지', '지체장애여부', '장애부위(상지)', '장애부위(하지)', '장애부위(척추)', '가장 불편한부위', '장애발생시기', '장애발생시 연령', '장애주된 원인', '질병명', '산업재해인정여부', '주된 진단명', '뇌병변장애여부', '장애부위(상지).1', '장애부위(하지).1', '장애부위(척추).1', '①동반증상-경직', '②동반증상-관절구축', '③동반증상-배변배뇨장애', '④동반증상-통증', '⑤동반증상-연하장애', '⑥동반증상-기타', '⑦동반장애-시각장애', '⑧동반장애-청각장애', '⑨동반장애-언어장애', '⑩동반장애-지적장애', '◯1 동반장애-뇌전증(간질)장애', '◯12동반장애-기타', '주된의사소통방법', '장애발생시기.1', '장애발생시 연령.1', '장애 주된 원인', '질병명\xa0', '산업재해인정여부.1', '주된 진단명(1)', '출생장소', '출산방법', '시각장애여부', '시력인지여부', '점자해독여부', '장애발생시기.2', '장애발생시 연령.2', '장애 주된 원인.1', '질병명\xa0.1', '산업재해인정여부.2', '청각장애애여부- 1순위', '청각장애애여부- 2순위', '보청기사용여부', '인공와우수술 여부', '수화가능여부', '수화가능자-주된의사전달수단\xa0', '수화이외사용 이유', '수화비사용자-주된의사전달수단', '장애발생시기.3', '장애발생시 연령.3', '장애 주된 원인.2', '질병명.1', '산업재해인정여부.3', '언어장애여부', '언어장애유형', '수화가능여부.1', '수화가능자-주된의사전달수단\xa0.1', '수화이외사용 이유.1', '수화비사용자-주된의사전달수단.1', '장애 발생시기', '장애발생시 연령.4', '장애 주된 원인.3', '질병명.2', '산업재해인정여부.4', '지적장애여부', '장애 발생시기.1', '장애발생시 연령.5', '의사소통능력', '주된의사소통방법.1', '장애 주된 원인.4', '질병명.3', '산업재해인정여부.5', '자폐성장애여부', '지적장애 뇌전증동반', '장애발생시기.4', '장애발생시 연령.6', '의사소통능력.1', '주된의사소통방법.2', '장애 주된 원인.5', '질병명.4', '산업재해인정여부.6', '정신장애여부', '장애발생시기.5', '장애발생시 연령.7', '장애의 주된 원인', '질병명.5', '산업재해인정여부.7', '주된 진단명.1', '신장장애애여부', '장애발생시기.6', '장애발생시 연령.8', '투석여부', '투석시작 연령', '과거투석경험여부', '신장이식여부', '신장이식시 연령', '장애 주된 원인.6', '질병명.6', '산업재해인정여부.8', '심장장애여부', '장애 발생시기.2', '장애발생시 연령.9', '심장이식 여부', '심장이식시 연령', '장애의 주된 원인.1', '질병명.7', '산업재해인정여부.9', '호흡기장애여부', '장애 발생시기.3', '장애발생시 연령.10', '산소처방 사용여부', '산소처방 평균이용시\n간', '인공호흡기\n사용 여부', '인공호흡기 삶의 질', '인공호흡기 사용시\n어려운점', '인공호흡기 사용 중단\n이유', '장애 주된 원인.7', '질병명.8', '산업재해인정여부.10', '간장애여부', '장애 발생시기.4', '장애발생시 연령.11', '간이식 여부', '간이식시 연령', '장애 주된 원인.8', '질병명.9', '산업재해인정여부.11', '안면장애여부', '장애 발생시기.5', '장애발생시 연령.12', '장애 주된 원인.9', '질병명.10', '산업재해인정여부.12', '장루 요루장애여부', '장루 요루유형', '장애 발생시기.6', '장애발생시 연령.13', '장애 주된 원인.10', '질병명.11', '산업재해인정여부.13', '뇌전증(간질)장애여부', '장애 발생시기.7', '장애발생시 연령.14', '장애 주된 원인.11', '질병명.12', '산업재해인정여부.14', '주된 장애유형', '건강보험가입여부 및 형태', '국가유공자, 차상위경감 대상여부', '현재 지속적 진료여부', '진료장소', '진료목적', '현재 지속적 진료과', '희망 지속적 진료과', '현재 진료받지않는 가장 중요한\n이유', '주관적 건강 평가', '건강검진 여부', '건강검진 내용', '건강검진 못받은 이유', '암검진 여부', '구강건강 검진 여부', '인플루엔자 예방접종여부', '입원치료 여부', '외래진료 여부(치과,보건소,한의원\n등 포함)', '의료진 장애 이해정도', '의료서비스 만족도', '의료시설 및 장비 만족도', '병의원이나 응급실 이용 사고나\n중독 발생 여부', '사고발생내용1', '사고발생내용2', '사고발생내용3', '미충족의료 경험 유무', '미충족 의료 이유 1', '미충족 의료 이유 2', '희귀난치성질환 여부', '희귀난치성질환 등록 여부', '만성질환 유무', '01)만성질환명(고혈압)', '02)만성질환명(뇌졸중,중풍)', '03)만성질환명(심근경색증)', '04)만성질환명(협심증)', '05)만성질환명(이상지혈증)', '06)만성질환명(당뇨병)', '07)만성질환명(갑상선장애)', '08)만성질환명(천식)', '09)만성질환명(폐결핵)', '10)만성질환명(폐질환(만성기관 지염,폐기종)', '11)만성질환명(위십이지장궤양)', '12)만성질환명(B형간염)', '13)만성질환명(C형간염)', '14)만성질환명(간경변증)', '15)만성질환명(신부전)', '16)만성질환명(골관절염(퇴행성\n관절염))', '17)만성질환명(류마티스 관절염)', '18)만성질환명(골다공증)', '19)만성질환명(척추측만증)', '20)만성질환명(허리목통증)', '21)만성질환명(피부염)', '22)만성질환명(백내장)', '23)만성질환명(우울증)', '24)만성질환명(암)', '25)만성질환명(기타)', '혈압약 복용 여부', '월 혈압약 일수', '혈당관리 치료 여부', '혈당치료 - 인슐린주사', '혈당치료 - 당뇨병약', '혈당치료 - 비약물요법', '혈당치료 - 기타', '관절통증 정도', '우울증 치료 여부', '암 종류1', '암 종류2', '암 종류3', '지난 2주간 아팠음 여부', '지난 2주간 아팠던 날수', '물리치료-이용여부', '물리치료-이용시간', '물리치료-비용', '물리치료-재활치료바우처여부', '물리치료-바우처재원인지여부', '물리치료-제공기관(1)', '물리치료-제공기관(2)', '물리치료-제공기관(3)', '물리치료-제공기관(4)', '물리치료-제공기관(5)', '작업치료-이용여부', '작업치료-이용시간', '작업치료-비용', '작업치료-재활치료바우처여부', '작업치료-바우처재원인지여부', '작업치료-제공기관 (1)', '작업치료-제공기관 (2)', '작업치료-제공기관 (3)', '작업치료-제공기관 (4)', '작업치료-제공기관 (5)', '언어치료-이용여부', '언어치료-이용시간', '언어치료-비용', '언어치료-재활치료바우처여부', '언어치료-바우처재원인지여부', '언어치료-제공기관 (1)', '언어치료-제공기관 (2)', '언어치료-제공기관 (3)', '언어치료-제공기관 (4)', '언어치료-제공기관 (5)', '음악치료-이용여부', '음악치료-이용시간', '음악치료-비용', '음악치료-재활치료바우처여부', '음악치료-바우처재원인지여부', '음악치료-제공기관 (1)', '음악치료-제공기관 (2)', '음악치료-제공기관 (3)', '음악치료-제공기관 (4)', '음악치료-제공기관 (5)', '놀이치료-이용여부', '놀이치료-이용시간', '놀이치료-비용', '놀이치료-재활치료바우처여부', '놀이치료-바우처재원인지여부', '놀이치료-제공기관 (1)', '놀이치료-제공기관 (2)', '놀이치료-제공기관 (3)', '놀이치료-제공기관 (4)', '놀이치료-제공기관 (5)', '미술치료-이용여부', '미술치료-이용시간', '미술치료-비용', '미술치료-재활치료바우처여부', '미술치료-바우처재원인지여부', '미술치료-제공기관 (1)', '미술치료-제공기관 (2)', '미술치료-제공기관 (3)', '미술치료-제공기관 (4)', '미술치료-제공기관 (5)', '심리행동치료-이용여부', '심리행동치료-이용시간', '심리행동치료-비용', '심리행동치료-재활치료바우처여부', '심리행동치료-바우처재원인지여부', '심리행동치료-제공기관 (1)', '심리행동치료-제공기관 (2)', '심리행동치료-제공기관 (3)', '심리행동치료-제공기관 (4)', '심리행동치료-제공기관 (5)', '기타-이용여부', '기타-이용시간', '기타-비용', '기타-재활치료바우처여부', '기타-바우처재원인지여부', '기타-제공기관 (1)', '기타-제공기관 (2)', '기타-제공기관 (3)', '기타-제공기관 (4)', '기타-제공기관 (5)', '재활치료서비스를 하나도 이용하지 않은 경우 이유', '향후 강화필요 보건의료서비스 혹은 기관 (1순위)', '향후 강화필요 보건의료서비스\n혹은 기관 (2순위)', '흡연 여부', '최근 1년간 금연시도', '흡연예방교육 여부', '음주횟수', '평균음주량', '건광관리운동', '운동 주기', '운동 시간(분)', '운동 장소 (1순위)', '운동 장소 (2순위)', '참여 운동 종목 (1순위)', '참여 운동 종목 (2순위)', '운동하지 않는 주된 이유', '재활운동체육 필요여부', '장애인 체육지도자 필요여부', '일정한 시간에 식사여부', '고른 식품 섭취여부', '칫솔질 횟수', '음식물 씹는데 불편감 여부', '키나 몸무게 측정경험', '최근 측정 시기', '키(센티)', '몸무게(kg)', '본인 체형 평가', '일상생활 중 스트레스정도', '슬프거나 절망감', '자살 생각 여부', '자살 시도 여부', 'EQ-5D (운동능력)', 'EQ-5D (자기관리)', 'EQ-5D (일상활동)', 'EQ-5D (통증/불편)', 'EQ-5D (불안/우울)', '건강관련서비스 이용여부', '1)이용_건강상태평가관리', '2)이용_만성질환관리', '3)이용_장애관리_재활', '4)이용_ 건강검진', '5)이용_예방접종', '6)이용_건강교육_교실', '7)이용_일반진료', '8)이용_방문보건', '9)이용_구강보건', '10)이용_정신보건', '11)이용_기타', '건강관련 정보획득처', '필요한 건강정보1', '필요한 건강정보2', '건강주치의 필요', '건강주치의_필요서비스1', '건강주치의_필요서비스2', '건강주치의 불필요한 이유', '정부(사회) 강화할 보건의료서비스1', '정부(사회) 강화할 보건의료서비스2', 'ADL - 옷 갈아입기', 'ADL –목욕하기', 'ADL - 구강청결', 'ADL –음식물 넘기기', 'ADL - 식사하기', 'ADL –누운상태에서\n자세바꾸기', 'ADL - 옮겨앉기', 'ADL - 앉은자세유지', 'ADL - 보행', 'ADL - 이동', 'ADL– 배변', 'ADL - 배뇨', 'ADL - 전화사용하기', 'ADL - 물건사기', 'ADL - 식사준비', 'ADL - 청소', 'ADL– 빨래하기', 'ADL –약 챙겨먹기', 'ADL - 금전관리', 'IADL–대중교통수단 이용', '일상생활시 남의도움 정도', '현재 일상생활 도와주는 이\n유무', '주로 도와주는 사람', '동거여부', '도움 계속 필요 여부', '현재 도움 충분도', '도움 부족 이유', '상지의지-필요', '상지의지-소지', '상지의지-사용', '하지의지-필요', '하지의지-소지', '하지의지-사용', '척추보조기-필요', '척추보조기-소지', '척추보조기-사용', '상지보조기-필요', '상지보조기-소지', '상지보조기-사용', '하지보조기-필요', '하지보조기-소지', '하지보조기-사용', '맞춤형 교정용신발-필요', '맞춤형 교정용신발-소지', '맞춤형 교정용신발-사용', '지팡이-필요', '지팡이-소지', '지팡이-사용', '목발-필요', '목발-소지', '목발-사용', '보행기-필요', '보행기-소지', '보행기-사용', '전동휠체어-필요', '전동휠체어-소지', '전동휠체어-사용', '수동휠체어-필요', '수동휠체어-소지', '수동휠체어-사용', '전동스쿠터-필요', '전동스쿠터-소지', '전동스쿠터-사용', '자세보조용구-필요', '자세보조용구-사용', '자세보조용구-소지', '상하지운동기구-필요', '상하지운동기구-소지', '상하지운동기구-사용', '팔받침대-필요', '팔받침대-소지', '팔받침대-사용', '기타-필요', '기타-소지', '기타-사용', '안경(콘텍트렌즈)-필요', '안경(콘텍트렌즈)-소지', '안경(콘텍트렌즈)-사용', '저시력보조기-필요', '저시력보조기-소지', '저시력보조기-사용', '흰지팡이-필요', '흰지팡이-소지', '흰지팡이-사용', '의안-필요', '의안-소지', '의안-사용', '스크린리더-필요', '스크린리더-소지', '스크린리더-사용', '화면확대기-필요', '화면확대기-소지', '화면확대기-사용', '점자정보단말기-필요', '점자정보단말기-소지', '점자정보단말기-사용', '시각장애인용시계-필요', '시각장애인용시계-소지', '시각장애인용시계-사용', '시각장애인용 안내견 - 필요', '시각장애인용 안내견 - 소지', '시각장애인용 안내견 - 사용', '점자프린터-필요', '점자프린터-소지', '점자프린터-사용', '화면해설기-필요', '화면해설기-소지', '화면해설기-사용', '음성신호유도장치-필요', '음성신호유도장치-소지', '음성신호유도장치-사용', '인쇄물음성변환출력기-필요', '인쇄물음성변환출력기-소지', '인쇄물음성변환출력기-사용', '점자라벨기-필요', '점자라벨기-소지', '점자라벨기-사용', '데이지플레이어-필요', '데이지플레이어-소지', '데이지플레이어-사용', '기타-필요.1', '기타-소지.1', '기타-사용.1', '보청기 - 필요', '보청기 - 소지', '보청기 - 사용', '화상전화기-필요', '화상전화기-소지', '화상전화기-사용', '골도전화기-필요', '골도전화기-소지', '골도전화기-사용', '문자전화기-필요', '문자전화기-소지', '문자전화기-사용', '문자송수신기-필요', '문자송수신기-소지', '문자송수신기-사용', '음성증폭기-필요', '음성증폭기-소지', '음성증폭기-사용', '인공와우-필요', '인공와우-소지', '인공와우-사용', '자막수신기-필요', '자막수신기-소지', '자막수신기-사용', '신호표시기-필요', '신호표시기-소지', '신호표시기-사용', '진동시계-필요', '진동시계-소지', '진동시계-사용', '기타-필요.2', '기타-소지.2', '기타-사용.2', '인공후두-필요', '인공후두-소지', '인공후두-사용', '음성증폭기-필요.1', '음성증폭기-소지.1', '음성증폭기-사용.1', '기타-필요.3', '기타-소지.3', '기타-사용.3', '의사소통 보조기기-필요', '의사소통 보조기기-소지', '의사소통 보조기기-사용', '교육과목훈련용보조기구 - 필요', '교육과목훈련용보조기구 - 소지', '교육과목훈련용보조기구 - 사용', '터치모니터 -필요', '터치모니터 -소지', '터치모니터 -사용', '기타 - 필요', '기타 - 소지', '기타 - 사용', '복막투석기구-필요', '복막투석기구-소지', '복막투석기구-사용', '기타-필요.4', '기타-소지.4', '기타-사용.4', '산소발생기-필요', '산소발생기-소지', '산소발생기-사용', '인공호흡기-필요', '인공호흡기-소지', '인공호흡기-사용', '호흡근육훈련기-필요', '호흡근육훈련기-소지', '호흡근육훈련기-사용', '기타-필요.5', '기타-소지.5', '기타-사용.5', '압력옷-필요', '압력옷-소지', '압력옷-사용', '기타-필요.6', '기타-소지.6', '기타-사용.6', '장루주머니-필요', '장루주머니-소지', '장루주머니-사용', '피부보호판-필요', '피부보호판-소지', '피부보호판-사용', '기타-필요.7', '기타-소지.7', '기타-사용.7', '욕창방지용매트-필요', '욕창방지용매트-소지', '욕창방지용매트-사용', '욕창방지용방석-필요', '욕창방지용방석-소지', '욕창방지용방석-사용', '침대(전동 및 수동)-필요', '침대(전동 및 수동)-필요.1', '침대(전동 및 수동)-사용', '기립보조기구-필요', '기립보조기구-소지', '기립보조기구-사용', '기저귀매트-필요', '기저귀매트-소지', '기저귀매트-사용', '목욕의자및이동욕조-필요', '목욕의자및이동욕조-소지', '목욕의자및이동욕조-사용', '이동변기-필요', '이동변기-소지', '이동변기-사용', '특수키보드-필요', '특수키보드-소지', '특수키보드-사용', '특수마우스-필요', '특수마우스-소지', '특수마우스-사용', '각종스위치-필요', '각종스위치-소지', '각종스위치-사용', '음성인식장치-필요', '음성인식장치-소지', '음성인식장치-사용', '터치스크린,스크린키보드-필요', '터치스크린,스크린키보드-소지', '터치스크린,스크린키보드-사용', '환경제어장치-필요', '환경제어장치-소지', '환경제어장치-사용', '이동식 전동리프트-필요', '이동식 전동리프트-소지', '이동식 전동리프트-사용', '주택개조-필요', '주택개조-소지', '주택개조-사용', '장애인용의복-필요', '장애인용의복-소지', '장애인용의복-사용', '자동차개조,운전보조장치-필요', '자동차개조,운전보조장치-소지', '자동차개조,운전보조장치-사용', '경보시스템-필요', '경보시스템-소지', '경보시스템-사용', '고용/직업훈련용보조기구-필요', '고용/직업훈련용보조기구-소지', '고용/직업훈련용보조기구-사용', '레크레이션용보조기구-필요', '레크레이션용보조기구-소지', '레크레이션용보조기구-사용', '배회감지기-필요', '배회감지기-소지', '배회감지기-사용', '안전손잡이-필요', '안전손잡이-소지', '안전손잡이-사용', '음식,음료섭취용 보조기구-필요', '음식,음료섭취용 보조기구-소지', '음식,음료섭취용 보조기구-사용', '기타-필요.8', '기타-소지.8', '기타-사용.8', '산소발생기-필요.1', '산소발생기-소지.1', '산소발생기-사용.1', '인공호흡기-필요.1', '인공호흡기-소지.1', '인공호흡기-사용.1', '주된보조기기 장애번호', '주된보조기기 품목번호', '필요한데 구입하지 않은 이유', '소지하고 있는데 사용 않는 이유', '구입시 외부지원 경험', '가장 많은 지원처', '지원형태', '지원수준 충분도', '사용빈도', '1일 이용시간', '보조기기 만족도', '불만족 이유', '장애인 보조기기 구입 경로', '이용경험-상담과 평가', '이용경험-보조기기 사용교육', '이용경험-사후(A/S)', '장애인 보조기기 개선사항', '휴대폰 사용 여부', '스마트폰 사용 여부', '검퓨터 사용 여부', '인터넷 사용 여부', '휴대폰 사용하지 않는 이유', '스마트폰 사용하지 않는 이유', '컴퓨터 사용하지 않는 이유', '인터넷 사용하지 않는 이유', '학교', '졸업여부', '초등학교', '중학교', '고등학교', '학교를 다니지 않았거나 중도포기 이유', '다니는 보육시설의 유형', '보육시설 이용시간', '보육시설 월 비용', '보육시설 만족도', '보육시설 다니지 않는 이유', '다니는 유치원의 유형', '유치원 이용시간', '유치원 월 비용', '유치원 만족도', '유치원 다니지 않는 이유', '보육시설 유치원 학교생활 적응 정도', '학교생활 문제점-1순위', '학교생활 문제점-2순위', '학교까지 통학방법', '방과 후 낮시간 활동방법', '향후 보육 교육시 필요한 것1', '향후 보육 교육시 필요한 것2', '장애아동 돌봄가족 어려움1', '장애아동 돌봄가족 어려움2', '학교재학여부', '학력보완 교육-참여경험', '학력보완 교육-참여프로그램수', '학력보완 교육-개인부담금', '성인 기초문자 해독교육-참여경험', '성인 기초문자 해독교육-참여프로그램수', '성인 기초문자 해독교육-개인부담금', '직업능력 향상 교육-참여경험', '직업능력 향상 교육-참여프로그램수', '직업능력 향상 교육-개인부담금', '인문교양 교육-참여경험', '인문교양 교육-참여프로그램수', '인문교양 교육-개인부담금', '문화체육예슐교육-참여경험', '문화체육예슐교육-참여프로그램수', '문화체육예슐교육-개인부담금', '시민참여교육-참여경험', '시민참여교육-참여프로그램수', '시민참여교육-개인부담금', '향후 참여하고 싶은 영역', '평생교육프로그램 참여를 위해 필요한 지원', '지난1주간 활동형태', '지난1주간 수입목적근로', '지난주 직장유무', '지난주 직장구직여부', '지난4주 직장구직여부', '지난1주간 일한시간(주업)', '지난1주간 일한시간(부업)', '지난1주간 일한시간(총계)', '총계에 따른 구분', '현재 일하는 곳', '종사 직종', '현직장근무기간 (년)', '현직장근무기간 (개월)', '1주일 평균 근무일수', '1일 평균 근무시간', '월평균 수입', '직장에서의 지위', '직장생활시 애로사항-1순위', '직장생활시 애로사항-2순위', '일에 대한 만족도', '지난주 일 가능 여부', '직장 구직 방법', '공공직업알선기관등록 형태', '원하는 직장(일) 형태', '희망 일자리 사업 내용', '희망 일자리 업무', '직장(일) 구하지않은 이유', '현재 일하지 않는 이유', '직업훈련 경험여부', '직업훈련 받지않는 이유', '직업훈련 희망 분야', '장애인직업재활을 위한 국가 할 일', '혼자 외출여부', '지난 1년간 외출 빈도', '주된 외출목적', '외출하지 않는 이유', '집밖 활동시 불편 정도', '집밖 호라동시 불편 이유', '주요 교통수단', '교통수단 이용시 어려움 정도', '교통수단 이용시 어려운 이유', '자동차 운전면허증 소지여부', '운전면허증 없는 이유', '현재 자동차 운 여부', '운전 안하는 주된 이유', '운전시 어려움1', '운전시 어려움2', '문화예술 감상, 관람', 'TV시청', '컴퓨터,인터넷', '승부놀이', '문화예술참여', '자기계발활동', '스포츠', '사회봉사,종교활동', '여행', '해외여행(지난1년)', '사교 일', '장애인 자조모임', '가족관련일(외식 등)', '휴식(사우나 등)', '기타', '문화여가활동 만족도', '문화여가활동 불만족 이유', '문화행사', '미술 전시회', '서양음악', '전통예술', '연극', '뮤지컬', '무용', '영화', '대중음악(콘서트), 연예(방송)', '예술행사관련 정보획득처', '예술행사 관람시 어려움', '예술행사 관람 기준', '인터넷 뱅킹', '모바일', '텔레뱅킹', '창구방문', 'ATM기', '기타.1', '보험상품가입 장애 불이익 경험', '선거투표여부(19대 대통령선거)', '투표하지 않는 이유', '결혼여부', '결혼연령', '결혼 당시 장애여부', '결혼 당시 배우자 장애여부', '결혼 당시 배우자의 장애유형', '결혼 당시 배우자의 장애등급', '본인 출생지', '배우자 출생지', '결혼하지 않는 이유', '자녀 유무', '자녀수', '자녀중 장애여부', '장애자녀 명수', '자녀의 장애유형(자녀1)', '자녀의 장애유형(자녀2)', '자녀의 장애유형(자녀3)', '자녀의 장애등급(자녀1)', '자녀의 장애등급(자녀2)', '자녀의 장애등급(자녀3)', '자녀의 성별(자녀1)', '자녀의 성별(자녀2)', '자녀의 성별(자녀3)', '자녀의 나이(자녀1)', '자녀의 나이(자녀2)', '자녀의 나이(자녀3)', '자녀가 없는 이유', '장애가 자녀의 성장 발달에 지장 여부', '자녀양육시 어려운 점', '자녀교육시 어려운점', '이혼경험시 이혼 사유', '이혼시 자녀의 주양육자', '임신경험', '마지막 임신시 장애여부', '임신시 힘들었던 점 - 1순위', '임신시 힘들었던 점 - 2순위', '유산 경험 여부', '유산한 주된 이유', '마지막 임신 출산 여부', '마지막 임신 출산시 년도', '마지막 임신 출산시 연령', '마지막 출산 방법', '출산하지 않는 이유', '인공중절시 본인의사여부', '출산 후 산후조리 조력자', '출산 후 산후조리 충분정도', '여성장애인대상필요서비스-1순위', '여성장애인대상필요서비스-2순위', '여성장애인대상필요서비스-3순위', '여성장애인으로 어려웠던 점', '가족과의 관계', '친구들의 수', '살고 있는 집', '요즘 건강상태', '한달 수입', '여가활동', '현재 하고 있는 일', '현재 결혼생활', '현재의 삶', '장애로 인한 문제발생 여부', '장애로 인한 문제발생시 상담자', '장애를 이유로 폭력 경험 여부', '언어폭력', '정신적폭력', '신체적폭력', '성적학대', '방임유기', '경제적폭력', '기타.2', '무시폭력하는 가족', '성희롱 성추행 성폭력 경험', '성희롱 성추행 성폭력 시기', '성희롱 성추행 성폭력 가해자', '성희롱 성추행 성폭력 대처방법', '주상담자', '상담하지 못한 이유', '사회적차별_입학전학(유치원)', '사회적차별_입학전학(초등학교)', '사회적차별_입학전학(중학교)', '사회적차별_입학전학(고등학교)', '사회적차별_입학전학(대학교)', '사회적차별_학교생활(교사로부터)', '사회적차별_학교생활(또래학생)', '사회적차별_학교생활(학부모로부터)', '사회적차별(결혼시)', '사회적차별(취업시)', '사회적차별_직장생활(소득)', '사회적차별_직장생활(동료와관계)', '사회적차별_직장생활(승진)', '사회적차별_운전면허제도상', '사회적차별_보험제도상', '사회적차별_의료기관이용시', '사회적차별_정보통신이용시', '사회적차별_지역사회생활', '본인이 느끼는 차별 정도', '우리나라 장애인차별정도', '장애인차별금지법 인지.1', '주택형태', '공공임대 주택여부', '주거 위치', '살고 있는 집의 소유형태', '자가 금액', '전세,월세 보증금', '월세', '집의 소유주 (계약주체)', '주택의 구조 성능 및\n환경 ①', '주택의 구조 성능 및\n환경 ②', '주택의 구조 성능 및 환경 ③', '주택의 구조 성능 및\n환경 ④', '주택의 구조 성능 및\n환경 ⑤', '영구임대주택 이용경험', '영구임대주택 만족도', '국민임대주택 이용경험', '국민임대주택 만족도', '기존주택매입임대 이용경험', '기존주택매입임대 만족도', '공공임대주택 이용경험', '공공임대주택 만족도', '장기전세주택 이용경험', '장기전세주택 만족도', '단기공공주택임대 이용경험', '단기공공주택임대 만족도', '전세자금(융자)지원 이용경험', '전세자금(융자)지원 만족도', '주택구입자급(융자)지원\n이용경험', '주택구입자급(융자)지원\n만족도', '저소득층 월세지원 이용경험', '저소득층 월세지원 만족도', '주택개조사업 이용경험', '주택개조사업 만족도', '기타 이용경험', '기타 만족도', '집 구조의 생활 편리정도', '주택개조의사 여부', '개조하고 싶은 곳 - 1순위', '개조하고 싶은 곳 - 2순위', '살고싶은 주거 유형', '일반주택거주시 희망생활', '장애등록여부', '장애유형', '장애등급.1', '장애등록연도', '장애등록 후 지원정도', '장애등급재심사 여부', '등급 재심사 사유', '재심사후 장애등급조정여부', '장애등급 (조정 전)', '장애등급 (조정 후)', '장애등록 안한 이유', '보훈처 등록여부', '장애인연금-경험', '장애인연금-만족도', '장애인연금-현재이용', '경증장애수당-경험', '경증장애수당-만족도', '경증장애수당-현재이용', '장애아동수당-경험', '장애아동수당-만족도', '장애아동수당-현재이용', '장애인 자녀교육비 지원-경험', '장애인 자녀교육비 지원-만족도', '장애인 자녀교육비 지원-현재이용', '장애아 보육료 지원-경험', '장애아 보육료 지원-만족도', '장애아 보육료 지원-현재이용', '양육수당-경험', '양육수당-만족도', '양육수당-현재이용', '장애인 의료비 지원-경험', '장애인 의료비 지원-만족도', '장애인 의료비 지원-현재이용', '등록진단비-경험', '등록진단비-만족도', '등록진단비-현재이용', '장애 검사비 지원-경험', '장애 검사비 지원-만족도', '장애 검사비 지원-현재이용', '발달재활서비스-경험', '발달재활서비스-만족도', '발달재활서비스-현재이용', '언어발달지원-경험', '언어발달지원-만족도', '언어발달지원-현재이용', '장애인보조기기교부-경험', '장애인보조기기교부-만족도', '장애인보조기기교부-현재이용', '장애인보조기기건강보험(급여)-경험', '장애인보조기기건강보험(급여)-만족도', '장애인보조기기건강보험(급여)-현재이용', '여성장애인 출산비 지원-경험', '여성장애인 출산비 지원-만족도', '여성장애인 출산비 지원-현재이용', '장애인 활동지원서비스-경험', '장애인 활동지원서비스-만족도', '장애인 활동지원서비스-현재이용', '장애인 생활도우미-경험', '장애인 생활도우미-만족도', '장애인 생활도우미-현재이용', '장애아가족양육지원-경험', '장애아가족양육지원-만족도', '장애아가족양육지원-현재이용', '가족휴식지원-경험', '가족휴식지원-만족도', '가족휴식지원-현재이용', '발달장애인 부모상담지원-경험', '발달장애인 부모상담지원-만족도', '발달장애인 부모상담지원-현재유형', '공공후견인심판청구/활동비지원-경험', '공공후견인심판청구/활동비지원-만족도', '공공후견인심판청구/활동비지원-현재이용', '승용자동차 관련세금면제-경험', '승용자동차 관련세금면제-만족도', '승용자동차 관련세금면제-현재이용', '세금공제 및 면제-경험', '세금공제 및 면제-만족도', '세금공제 및 면제-현재이용', '교통관련 요금감면 및 할인-경험', '교통관련 요금감면 및 할인-만족도', '교통관련 요금감면 및 할인-현재이용', '통신관련 요금감면 및 할인-경험', '통신관련 요금감면 및 할인-만족도', '통신관련 요금감면 및 할인-현재이용', '공공시설 이용시 요금감면 및 할인-경험', '공공시설 이용시 요금감면 및 할인-만족도', '공공시설 이용시 요금감면 및 할인-현재이용', '장애인 일자리지원-경험', '장애인 일자리지원-만족도', '장애인 일자리지원-현재이용', '장애인 자립자금 대여-경험', '장애인 자립자금 대여-만족도', '장애인 자립자금 대여-현재이용', '장애인근로자 자동차 구입 자금 대여-경\n험', '장애인근로자 자동차 구입 자금 대여-만\n족도', '장애인근로자 자동차 구입 자금 대여-현\n재이용', '장애인자동차 표지발급 -경험', '장애인자동차 표지발급 -만족도', '장애인자동차 표지발급 -현재이용', '주택관련 분양알선 및 가산점 부여-경험', '주택관련 분양알선 및 가산점 부여-만족\n도', '주택관련 분양알선 및 가산점 부여-현재\n이용', '여성장애인 교육지원-경험', '여성장애인 교육지원-만족도', '여성장애인 교육지원-현재이용', '노인장기요양보험-경험', '노인장기요양보험-만족도', '노인장기요양보험-현재이용', '장애인복지사업 정보취득처', '직업재활시설-경험', '직업재활시설-희망', '장애인복지관-경험', '장애인복지관-희망', '장애인주간보호시설-경험', '장애인주간보호시설-희망', '장애인체육시설-경험', '장애인체육시설-희망', '장애인 생활이동지원센터-\n경험', '장애인 생활이동지원센터-\n희망', '재활지원센터-경험', '재활지원센터-희망', '점자도서관-경험', '점자도서관-희망', '수화통역센터-경험', '수화통역센터-희망', '장애인특별운송사업-경험', '장애인특별운송사업-희망', '장애인정보화교육-경험', '장애인정보화교육-희망', '자립생활센터-경험', '자립생활센터-희망', '지적장애인 자립지원센터-\n경험', '지적장애인 자립지원센터-\n희망', '정신건강증진센터-경험', '정신건강증진센터-희망', '장애인 재활병의원-경험', '장애인 재활병의원-희망', '정신요양시설 의료기관-경험', '정신요양시설 의료기관-희망', '정신재활시설-경험', '정신재활시설-희망', '발달장애인지원센터-경험', '발달장애인지원센터-희망', '발달장애인 거점병원·행동발\n달증진센터-경험', '발달장애인 거점병원·행동발\n달증진센터-희망', '특수교육지원센터-경험', '특수교육지원센터-희망', '성인장애인교육시설-경험', '성인장애인교육시설-희망', '장애인가족지원센터-경험', '장애인가족지원센터-희망', '장애인권익옹호기관-경험', '장애인권익옹호기관-희망', '장애인단체-경험', '장애인단체-희망', '사회나 국가 요구사항- 1순위', '사회나 국가 요구사항- 2순위', '사회나 국가 요구사항- 3순위', '느끼는 소속계층', '국민기초생활보장 수급여부 1)생계급여 수급 여부', '국민기초생활보장 수급여부 2)의료급여 수급 여부', '국민기초생활보장 수급여부 3)주거급여 수급 여부', '국민기초생활보장 수급여부 4)교육급여 수급 여부', '근로소극-가구', '근로소극-개인', '사업소득-가구', '사업소득-개인', '재산 금융 개인연금소득\n-가구', '재산 금융 개인연금소득\n-개인', '국민기초생활보장급여\n-가구', '국민기초생활보장급여\n-개인', '기초연금-가구', '기초연금-개인', '장애인연금/경증장애수당-가 구', '장애인연금/경증장애수당-개 인', '장애아동수당-가구', '장애아동수당-개인', '장애연금(국민연금)-가구', '장애연금(국민연금)-개인', '기타사회보험급여-가구', '기타사회보험급여-개인', '기타-가구', '기타-개인', '사전이전소득-가구', '사전이전소득-개인', '기타 소득-가구', '기타 소득-개인', '월 소득 합계-가구', '월 소득 합계-개인', '국민연금', '공무원연금', '사립학교교원연금', '군인연금', '별정우체국연금', '보훈연금', '개인연금(사적)', '기타.3', '차량소유여부', '차종', '연료사용', '소유현황', '표지종류', '용도', '운전자', '추가차량여부', '차종.1', '연료사용.1', '소유현황.1', '표지종류.1', '용도.1', '운전자.1', '한달 최소생활비', '장애인 인한 추가비용 여부', '교통비', '의료비', '보육,교육비', '보호,간병비', '재활기관이용료', '통신비', '장애인보조기기 구입,유지비', '부모사후 및 노후대비비', '기타.4', '월평균 총 추가비용', 'wg_p', 'ws_p']

In [6]:
# 총 20개 변수
data = df[['성별', '생년', '장애등급', '지체장애여부', '뇌병변장애여부', '01)만성질환명(고혈압)', '20)만성질환명(허리목통증)', 
    '16)만성질환명(골관절염(퇴행성\n관절염))', '06)만성질환명(당뇨병)', '흡연 여부', '음주횟수', '키(센티)', '몸무게(kg)', 'EQ-5D (통증/불편)',
    '운동 주기', '운동 시간(분)', '월 소득 합계-개인', '월평균 총 추가비용', '참여 운동 종목 (1순위)', '참여 운동 종목 (2순위)']]
data.head()

,성별,생년,장애등급,지체장애여부,뇌병변장애여부,01)만성질환명(고혈압),20)만성질환명(허리목통증),16)만성질환명(골관절염(퇴행성\n관절염)),06)만성질환명(당뇨병),흡연 여부,음주횟수,키(센티),몸무게(kg),EQ-5D (통증/불편),운동 주기,운동 시간(분),월 소득 합계-개인,월평균 총 추가비용,참여 운동 종목 (1순위),참여 운동 종목 (2순위)
0,1,1970,6,1,2,2,2,2,2,3,4,178.0,77.0,1,4,90,300,0,9,0
2,1,1976,6,1,2,0,0,0,0,1,2,186.0,98.0,1,1,60,604,0,9,0
3,2,1958,5,1,2,2,1,2,2,4,1,158.0,63.0,2,1,60,50,28,2,0
4,2,1984,3,2,2,2,2,2,2,4,1,158.0,58.0,1,2,30,0,33,2,0
5,1,1972,2,2,2,1,2,2,1,3,3,168.0,89.0,2,2,30,0,346,18,2

In [11]:
data.shape

(3901, 20)

### 운동 종목 1, 2순위, 한 셀로 합치기

In [7]:
# 수치 -> 문자형으로 변환
kinds_list1 = ['호흡운동', '걷기/조깅', '맨손체조/스트레칭', '균형잡기 운동', '수중운동', '자전거', '웨이트 트레이닝', '등산',
             '수영', '요가', '보치아', '배드민턴', '게이트볼', '탁구', '볼링', '당구', '(파크)골프', '기타']
kinds_list2 = ['', '호흡운동', '걷기/조깅', '맨손체조/스트레칭', '균형잡기 운동', '수중운동', '자전거', '웨이트 트레이닝', '등산',
             '수영', '요가', '보치아', '배드민턴', '게이트볼', '탁구', '볼링', '당구', '(파크)골프', '기타']

for i in range(len(kinds_list1)):
    data.replace({'참여 운동 종목 (1순위)': i+1}, {'참여 운동 종목 (1순위)': kinds_list1[i]}, inplace=True)

for j in range(len(kinds_list2)):
    data.replace({'참여 운동 종목 (2순위)': j}, {'참여 운동 종목 (2순위)': kinds_list2[j]}, inplace=True)
    
data

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,성별,생년,장애등급,지체장애여부,뇌병변장애여부,01)만성질환명(고혈압),20)만성질환명(허리목통증),16)만성질환명(골관절염(퇴행성\n관절염)),06)만성질환명(당뇨병),흡연 여부,음주횟수,키(센티),몸무게(kg),EQ-5D (통증/불편),운동 주기,운동 시간(분),월 소득 합계-개인,월평균 총 추가비용,참여 운동 종목 (1순위),참여 운동 종목 (2순위)
0,1,1970,6,1,2,2,2,2,2,3,4,178.0,77.0,1,4,90,300,0,수영,
2,1,1976,6,1,2,0,0,0,0,1,2,186.0,98.0,1,1,60,604,0,수영,
3,2,1958,5,1,2,2,1,2,2,4,1,158.0,63.0,2,1,60,50,28,걷기/조깅,
4,2,1984,3,2,2,2,2,2,2,4,1,158.0,58.0,1,2,30,0,33,걷기/조깅,
5,1,1972,2,2,2,1,2,2,1,3,3,168.0,89.0,2,2,30,0,346,기타,걷기/조깅
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6537,1,1941,4,2,1,2,2,2,2,3,2,171.0,74.0,2,2,90,31,184,웨이트 트레이닝,
6538,2,1951,5,1,2,1,2,1,2,4,1,167.0,59.0,3,1,60,171,129,걷기/조깅,
6542,1,1952,5,1,2,2,2,2,2,3,5,165.0,62.0,1,3,60,90,60,걷기/조깅,
6547,1,1958,5,2,2,1,1,2,2,3,1,165.0,64.0,2,2,60,150,35,걷기/조깅,배드민턴
6548,1,1947,2,2,1,2,2,2,2,3,1,158.0,60.0,1,1,60,45,0,걷기/조깅,

In [8]:
cols = ['참여 운동 종목 (1순위)', '참여 운동 종목 (2순위)']
data['운동종목'] =data[cols].apply(lambda row: '&'.join(row.values.astype(str)), axis=1)
data.head()

<ipython-input-8-4db8a2d3ae89>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['운동종목'] =data[cols].apply(lambda row: '&'.join(row.values.astype(str)), axis=1)

,성별,생년,장애등급,지체장애여부,뇌병변장애여부,01)만성질환명(고혈압),20)만성질환명(허리목통증),16)만성질환명(골관절염(퇴행성\n관절염)),06)만성질환명(당뇨병),흡연 여부,...,키(센티),몸무게(kg),EQ-5D (통증/불편),운동 주기,운동 시간(분),월 소득 합계-개인,월평균 총 추가비용,참여 운동 종목 (1순위),참여 운동 종목 (2순위),운동종목
0,1,1970,6,1,2,2,2,2,2,3,...,178.0,77.0,1,4,90,300,0,수영,,수영&
2,1,1976,6,1,2,0,0,0,0,1,...,186.0,98.0,1,1,60,604,0,수영,,수영&
3,2,1958,5,1,2,2,1,2,2,4,...,158.0,63.0,2,1,60,50,28,걷기/조깅,,걷기/조깅&
4,2,1984,3,2,2,2,2,2,2,4,...,158.0,58.0,1,2,30,0,33,걷기/조깅,,걷기/조깅&
5,1,1972,2,2,2,1,2,2,1,3,...,168.0,89.0,2,2,30,0,346,기타,걷기/조깅,기타&걷기/조깅

In [9]:
# 끝 문자가 '&'로 끝나는 칼럼값 정제
y_list = []
for i in range(len(data)):
    if data['운동종목'].tolist()[i][-1] == '&':
        y_list.append(data['운동종목'].tolist()[i].replace('&', ''))
    else:
        y_list.append(data['운동종목'].tolist()[i])

data.drop(columns='운동종목', inplace = True) # 기존의 '운동종목' 칼럼 제거
data['운동종목'] = y_list # 새로 정제한 리스트를 '운동종목' 칼럼으로 재생성

data.head() # 정제 확인

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-9-12b764442ca5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['운동종목'] = y_list # 새로 정제한 리스트를 '운동종목' 칼럼으로 재생성

,성별,생년,장애등급,지체장애여부,뇌병변장애여부,01)만성질환명(고혈압),20)만성질환명(허리목통증),16)만성질환명(골관절염(퇴행성\n관절염)),06)만성질환명(당뇨병),흡연 여부,...,키(센티),몸무게(kg),EQ-5D (통증/불편),운동 주기,운동 시간(분),월 소득 합계-개인,월평균 총 추가비용,참여 운동 종목 (1순위),참여 운동 종목 (2순위),운동종목
0,1,1970,6,1,2,2,2,2,2,3,...,178.0,77.0,1,4,90,300,0,수영,,수영
2,1,1976,6,1,2,0,0,0,0,1,...,186.0,98.0,1,1,60,604,0,수영,,수영
3,2,1958,5,1,2,2,1,2,2,4,...,158.0,63.0,2,1,60,50,28,걷기/조깅,,걷기/조깅
4,2,1984,3,2,2,2,2,2,2,4,...,158.0,58.0,1,2,30,0,33,걷기/조깅,,걷기/조깅
5,1,1972,2,2,2,1,2,2,1,3,...,168.0,89.0,2,2,30,0,346,기타,걷기/조깅,기타&걷기/조깅

### 지체장애여부/뇌병변장애여부 + 만성질환 4개 변수 → 0 or 1로 변경
고혈압, 허리목통증, 골관절염, 당뇨병

In [10]:
# 2-> 0 변경
disease_lst4 = data.columns.tolist()[3:9]
for i in range(len(disease_lst4)):
    data.replace({disease_lst4[i]: 2}, {disease_lst4[i]: 0}, inplace = True)
data.head()

C:\Users\user\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,성별,생년,장애등급,지체장애여부,뇌병변장애여부,01)만성질환명(고혈압),20)만성질환명(허리목통증),16)만성질환명(골관절염(퇴행성\n관절염)),06)만성질환명(당뇨병),흡연 여부,...,키(센티),몸무게(kg),EQ-5D (통증/불편),운동 주기,운동 시간(분),월 소득 합계-개인,월평균 총 추가비용,참여 운동 종목 (1순위),참여 운동 종목 (2순위),운동종목
0,1,1970,6,1,0,0,0,0,0,3,...,178.0,77.0,1,4,90,300,0,수영,,수영
2,1,1976,6,1,0,0,0,0,0,1,...,186.0,98.0,1,1,60,604,0,수영,,수영
3,2,1958,5,1,0,0,1,0,0,4,...,158.0,63.0,2,1,60,50,28,걷기/조깅,,걷기/조깅
4,2,1984,3,0,0,0,0,0,0,4,...,158.0,58.0,1,2,30,0,33,걷기/조깅,,걷기/조깅
5,1,1972,2,0,0,1,0,0,1,3,...,168.0,89.0,2,2,30,0,346,기타,걷기/조깅,기타&걷기/조깅

### 성별 0 or 1로 변경
남자: 1 → 0  
여자: 2 → 1

In [11]:
data = data.replace({'성별': 1}, {'성별': 0}) # 남자
data = data.replace({'성별': 2}, {'성별': 1}) # 여자
data.head()

,성별,생년,장애등급,지체장애여부,뇌병변장애여부,01)만성질환명(고혈압),20)만성질환명(허리목통증),16)만성질환명(골관절염(퇴행성\n관절염)),06)만성질환명(당뇨병),흡연 여부,...,키(센티),몸무게(kg),EQ-5D (통증/불편),운동 주기,운동 시간(분),월 소득 합계-개인,월평균 총 추가비용,참여 운동 종목 (1순위),참여 운동 종목 (2순위),운동종목
0,0,1970,6,1,0,0,0,0,0,3,...,178.0,77.0,1,4,90,300,0,수영,,수영
2,0,1976,6,1,0,0,0,0,0,1,...,186.0,98.0,1,1,60,604,0,수영,,수영
3,1,1958,5,1,0,0,1,0,0,4,...,158.0,63.0,2,1,60,50,28,걷기/조깅,,걷기/조깅
4,1,1984,3,0,0,0,0,0,0,4,...,158.0,58.0,1,2,30,0,33,걷기/조깅,,걷기/조깅
5,0,1972,2,0,0,1,0,0,1,3,...,168.0,89.0,2,2,30,0,346,기타,걷기/조깅,기타&걷기/조깅

---
## 모델 생성 및 학습
1. SVC
1. KNN

In [12]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score, GridSearchCV, train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
import multiprocessing

In [13]:
print(data.columns)
print(len(data.columns))

Index(['성별', '생년', '장애등급', '지체장애여부', '뇌병변장애여부', '01)만성질환명(고혈압)',
       '20)만성질환명(허리목통증)', '16)만성질환명(골관절염(퇴행성\n관절염))', '06)만성질환명(당뇨병)', '흡연 여부',
       '음주횟수', '키(센티)', '몸무게(kg)', 'EQ-5D (통증/불편)', '운동 주기', '운동 시간(분)',
       '월 소득 합계-개인', '월평균 총 추가비용', '참여 운동 종목 (1순위)', '참여 운동 종목 (2순위)', '운동종목'],
      dtype='object')
21

### X, y 데이터 구분

In [39]:
X = data[['성별', '생년', '장애등급', '지체장애여부', '뇌병변장애여부', '01)만성질환명(고혈압)',
       '20)만성질환명(허리목통증)', '16)만성질환명(골관절염(퇴행성\n관절염))', '06)만성질환명(당뇨병)', '흡연 여부',
       '음주횟수', '키(센티)', '몸무게(kg)', 'EQ-5D (통증/불편)', '운동 주기', '운동 시간(분)', '월 소득 합계-개인', '월평균 총 추가비용']]
y = data['운동종목']

In [40]:
# 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state = 777)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2730, 18)
(1171, 18)
(2730,)
(1171,)

### 범주형/연속형 변수 인코딩 및 스케일링 실시
[참고](https://lovelydiary.tistory.com/419)

In [41]:
ct = ColumnTransformer([
    ('scaling', StandardScaler(), ['생년', '키(센티)', '몸무게(kg)', '운동 시간(분)', '월 소득 합계-개인', '월평균 총 추가비용']),
    ('onehot', OneHotEncoder(), ['성별', '장애등급', '지체장애여부', '뇌병변장애여부', '01)만성질환명(고혈압)',
       '20)만성질환명(허리목통증)', '16)만성질환명(골관절염(퇴행성\n관절염))', '06)만성질환명(당뇨병)', '흡연 여부',
       '음주횟수', 'EQ-5D (통증/불편)', '운동 주기'])
])

X_train_pre = ct.fit_transform(X_train)
X_test_pre = ct.transform(X_test)

In [42]:
print(X_train_pre.shape)
print(X_test_pre.shape)

(2730, 49)
(1171, 49)

### 모델 학습 및 평가 점수 확인

In [17]:
# 모델 생성
svc_model = SVC()
svc_model.fit(X_train_pre, y_train)

# 평가 점수 확인
print('학습 데이터 점수: {:.3f}'.format(svc_model.score(X_train_pre, y_train)))
print('평가 데이터 점수: {:.3f}'.format(svc_model.score(X_test_pre, y_test)))

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

학습 데이터 점수: 0.465
평가 데이터 점수: 0.483

### 교차 검증

In [30]:
cross_val_score(estimator = svc_model, 
               X = X, y = y, cv=5, 
               n_jobs=multiprocessing.cpu_count(),
               verbose=True) # 상세한 설명 출력

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.
C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(
[Parallel(n_jobs=8)]: Done   2 out of   5 | elapsed:    5.3s remaining:    8.0s
[Parallel(n_jobs=8)]: Done   5 out of   5 | elapsed:    8.7s finished

array([0.46222791, 0.46410256, 0.46282051, 0.46282051, 0.46282051])

### GridSearchCV

In [123]:
# GridSearchCV
scale_tuple = ('scaler', StandardScaler(), ['생년', '키(센티)', '몸무게(kg)', '운동 시간(분)', '월 소득 합계-개인', '월평균 총 추가비용'])
onehot_tuple = ('onehot', OneHotEncoder(), ['성별', '장애등급', '지체장애여부', '뇌병변장애여부', '01)만성질환명(고혈압)',
       '20)만성질환명(허리목통증)', '16)만성질환명(골관절염(퇴행성\n관절염))', '06)만성질환명(당뇨병)', '흡연 여부',
       '음주횟수', 'EQ-5D (통증/불편)', '운동 주기'])
svc_tuple = ('svm', SVC())

pipeline = Pipeline([scale_tuple, onehot_tuple, svc_tuple])

param_grid = {'gamma': [0.001, 0.01, 0.1, 1, 10, 100], # 값이 클수록 결정 경계의 곡률이 커짐 -> 오버피팅
             'C': [0.001, 0.01, 0.1, 1, 10, 100], # 값이 클수록 이상치의 존재 가능성을 작게 봐서 좀 더 세심하게 결정 경계를 찾아낸다. -> 오버피팅(하드마진)
             'kernel': ['rbf', 'ploy', 'sigmoid'] # 가장 성능이 좋은 것: 가우시안 RBF 커널
             }
svc_gs = GridSearchCV(estimator = SVC(), 
                    param_grid=param_grid, scoring='accuracy', cv = 5, 
                    n_jobs=multiprocessing.cpu_count())

result = svc_gs.fit(X_train, y_train)

print('최적 파라미터: {}'.format(svc_gs.best_params_))
print('최적 점수: {}'.format(svc_gs.best_score_))
print(result.best_estimator_)

C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(
C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
180 fits failed out of a total of 540.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
180 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\svm\_base.py", line 255, in fit
    fit(X, y, sample_weight, solver_type, kernel, random_seed=seed)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\svm\_base.py", line 315, in _dense_fit
    ) = libsvm.fit(
  File "sklearn\svm\_libsvm.pyx", line 173, in sklearn.svm._libsvm.fit
ValueError: 'ploy' is not in list

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.45274725        nan 0.45714286 0.45531136        nan 0.45714286
 0.45677656        nan 0.45714286 0.45714286        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.36813187        nan 0.45714286 0.43553114        nan 0.45714286
 0.45641026        nan 0.45714286 0.45677656        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286
 0.31575092        nan 0.45714286 0.43553114        nan 0.45714286
 0.45641026        nan 0.45714286 0.45677656        nan 0.45714286
 0.45714286        nan 0.45714286 0.45714286        nan 0.45714286]
  warnings.warn(

최적 파라미터: {'C': 0.001, 'gamma': 0.001, 'kernel': 'rbf'}
최적 점수: 0.45714285714285713
SVC(C=0.001, gamma=0.001)

In [125]:
# 최적 파라미터를 이용해 새로운 모델 생성
svc_model = svc_gs.best_estimator_

# 학습 및 평가 데이터 점수
print('학습 데이터 점수: {:.3f}'.format(svc_model.score(X_train, y_train)))
print('평가 데이터 점수: {:.3f}'.format(svc_model.score(X_test, y_test)))

학습 데이터 점수: 0.457
평가 데이터 점수: 0.477

In [126]:
# 실제 y_test 값과 예측 y_predict 값 비교
y_predict = svc_model.predict(X_test)
y_predict

array(['걷기/조깅', '걷기/조깅', '걷기/조깅', ..., '걷기/조깅', '걷기/조깅', '걷기/조깅'],
      dtype=object)

In [60]:
y_test_df = y_test.reset_index()
y_test_df.head()

   index      운동종목
0    370        등산
1   2580     걷기/조깅
2   5139     걷기/조깅
3   3827  걷기/조깅&등산
4    776     걷기/조깅

In [61]:
y_pred_df = pd.concat([pd.DataFrame(y_test.index).rename(columns={0:'index'}), pd.DataFrame(y_predict)], axis=1).rename(columns={0:'운동종목(예측)'})
y_pred_df.head()

   index 운동종목(예측)
0    370    걷기/조깅
1   2580    걷기/조깅
2   5139    걷기/조깅
3   3827    걷기/조깅
4    776    걷기/조깅

In [62]:
pd.merge(y_test_df, y_pred_df, on='index')

      index      운동종목 운동종목(예측)
0       370        등산    걷기/조깅
1      2580     걷기/조깅    걷기/조깅
2      5139     걷기/조깅    걷기/조깅
3      3827  걷기/조깅&등산    걷기/조깅
4       776     걷기/조깅    걷기/조깅
...     ...       ...      ...
1166   1445        등산    걷기/조깅
1167   3810     걷기/조깅    걷기/조깅
1168   3764     걷기/조깅    걷기/조깅
1169   1417     걷기/조깅    걷기/조깅
1170   3009     걷기/조깅    걷기/조깅

[1171 rows x 3 columns]

In [63]:
pd.merge(y_test_df, y_pred_df, on='index')[['운동종목(예측)']].value_counts()

운동종목(예측)
걷기/조깅       1171
dtype: int64

In [79]:
len(pd.merge(y_test_df, y_pred_df, on='index')['운동종목'].unique())

85

**평가지표**  
[참고1](https://magicode.tistory.com/38)  
[참고2](https://leedakyeong.tistory.com/entry/%EB%B6%84%EB%A5%98-%EB%AA%A8%EB%8D%B8-%EC%84%B1%EB%8A%A5-%ED%8F%89%EA%B0%80-%EC%A7%80%ED%91%9C-Confusion-Matrix%EB%9E%80-%EC%A0%95%ED%99%95%EB%8F%84Accuracy-%EC%A0%95%EB%B0%80%EB%8F%84Precision-%EC%9E%AC%ED%98%84%EB%8F%84Recall-F1-Score)

In [127]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print(accuracy_score(y_test, y_predict)) # 정확도
print(recall_score(y_test, y_predict, average='weighted')) # 재현도
print(precision_score(y_test, y_predict, average='weighted')) # 정밀도
print(f1_score(y_test, y_predict, average='weighted')) # F1 Score

0.47651579846285225
0.47651579846285225
0.22706730618468965
0.3075717935711643

C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

---
### KNN

In [73]:
# GridSearchCV: 교차 검증과 하이퍼 파라미터 튜닝을 동시에 수행
ct = ColumnTransformer([
    ('scaling', StandardScaler(), ['생년', '키(센티)', '몸무게(kg)', '운동 시간(분)', '월 소득 합계-개인', '월평균 총 추가비용']),
    ('onehot', OneHotEncoder(), ['성별', '장애등급', '지체장애여부', '뇌병변장애여부', '01)만성질환명(고혈압)',
       '20)만성질환명(허리목통증)', '16)만성질환명(골관절염(퇴행성\n관절염))', '06)만성질환명(당뇨병)', '흡연 여부',
       '음주횟수', 'EQ-5D (통증/불편)', '운동 주기'])
])

X_train_pre = ct.fit_transform(X_train)
X_test_pre = ct.transform(X_test)


param_grid = {'n_neighbors': range(1, 16),
             'weights': ['uniform', 'distance'],
             'algorithm': ['ball_tree', 'kd_tree', 'brute'],
             'p': [1,2] # 1: 멘하튼 거리, 2: 유클리디안 거리
             }

knn_gs = GridSearchCV(estimator=KNeighborsClassifier(), param_grid=param_grid, n_jobs=multiprocessing.cpu_count(), cv = 5)

result = knn_gs.fit(X_train_pre, y_train)

print('최적 파라미터: {}'.format(knn_gs.best_params_))
print('최적 점수: {}'.format(knn_gs.best_score_))
print(result.best_estimator_)

C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

최적 파라미터: {'algorithm': 'ball_tree', 'n_neighbors': 14, 'p': 2, 'weights': 'uniform'}
최적 점수: 0.4523809523809524
KNeighborsClassifier(algorithm='ball_tree', n_neighbors=14)

In [113]:
# 실제 y_test 값과 예측 y_predict 값 비교
knn_model = knn_gs.best_estimator_
knn_model.fit(X_train_pre, y_train)

y_predict = knn_model.predict(X_test_pre)
y_predict

array(['걷기/조깅', '걷기/조깅', '걷기/조깅', ..., '걷기/조깅', '걷기/조깅', '걷기/조깅'],
      dtype=object)

In [80]:
y_test_df = y_test.reset_index()
y_test_df.head()

   index      운동종목
0    370        등산
1   2580     걷기/조깅
2   5139     걷기/조깅
3   3827  걷기/조깅&등산
4    776     걷기/조깅

In [81]:
y_pred_df = pd.concat([pd.DataFrame(y_test.index).rename(columns={0:'index'}), pd.DataFrame(y_predict)], axis=1).rename(columns={0:'운동종목(예측)'})
y_pred_df.head()

   index 운동종목(예측)
0    370    걷기/조깅
1   2580    걷기/조깅
2   5139    걷기/조깅
3   3827    걷기/조깅
4    776    걷기/조깅

In [82]:
# 실제 y값과 예측 y값 데이터 결합
pd.merge(y_test_df, y_pred_df, on='index')

      index      운동종목 운동종목(예측)
0       370        등산    걷기/조깅
1      2580     걷기/조깅    걷기/조깅
2      5139     걷기/조깅    걷기/조깅
3      3827  걷기/조깅&등산    걷기/조깅
4       776     걷기/조깅    걷기/조깅
...     ...       ...      ...
1166   1445        등산    걷기/조깅
1167   3810     걷기/조깅    걷기/조깅
1168   3764     걷기/조깅    걷기/조깅
1169   1417     걷기/조깅    걷기/조깅
1170   3009     걷기/조깅    걷기/조깅

[1171 rows x 3 columns]

In [83]:
pd.merge(y_test_df, y_pred_df, on='index')[['운동종목(예측)']].value_counts()

운동종목(예측)
걷기/조깅              1095
걷기/조깅&맨손체조/스트레칭      56
등산                    8
기타                    3
맨손체조/스트레칭             2
수영                    2
등산&걷기/조깅              1
웨이트 트레이닝              1
웨이트 트레이닝&걷기/조깅        1
자전거                   1
호흡운동&걷기/조깅            1
dtype: int64

In [114]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print(accuracy_score(y_test, y_predict)) # 정확도
print(recall_score(y_test, y_predict, average='weighted')) # 재현도
print(precision_score(y_test, y_predict, average='weighted')) # 정밀도
print(f1_score(y_test, y_predict, average='weighted')) # F1 Score

0.46883005977796754
0.46883005977796754
0.27881461254061657
0.3282621467095164

C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

---
### 랜덤포레스트

In [87]:
# GridSearchCV
## 중요 매개변수: n_estimators, max_features이고, max_depth 같은 사전 가지치기 옵션이 있음

from sklearn.ensemble import RandomForestClassifier
param_grid = {'n_estimators': [10, 100, 200], # 결정트리 개수
             'max_features': ['sqrt', 'log'], # 각 노드에거 랜덤하게 선택할 '후보 특성' 개수 (분류: sqrt, 회귀: log)
             'max_depth': [3, 5, 7]
             }

rfc_gs = GridSearchCV(estimator = RandomForestClassifier(), cv= 5,
                 param_grid=param_grid, n_jobs = -1)

result = rfc_gs.fit(X_train, y_train)

print('최적 파라미터: {}'.format(rfc_gs.best_params_)) # 최적의 파라미터 출력
print('최적 점수: {}'.format(rfc_gs.best_score_)) # 최적 파라미터의 평가 점수 출력
print(result.best_estimator_) # 최적 파라미터로 학습된 estimator 출력

C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(
C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
45 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
45 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 450, in fit
    trees = Parallel(
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\parallel.py", line 1041, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\parallel.py", line 859, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\parallel.py", line 777, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 208, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 572, in __init__
    self.results = batch()
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in __call__
    return [func(*args, **kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\joblib\parallel.py", line 262, in <listcomp>
    return [func(*args, **kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 216, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 185, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\user\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 281, in fit
    raise ValueError(
ValueError: Invalid value for max_features. Allowed string values are 'auto', 'sqrt' or 'log2'.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.45714286 0.45714286 0.45714286        nan        nan        nan
 0.45677656 0.45750916 0.45787546        nan        nan        nan
 0.45494505 0.45934066 0.45897436        nan        nan        nan]
  warnings.warn(

최적 파라미터: {'max_depth': 7, 'max_features': 'sqrt', 'n_estimators': 100}
최적 점수: 0.4593406593406593
RandomForestClassifier(max_depth=7, max_features='sqrt')

In [115]:
# 실제 y_test 값과 예측 y_predict 값 비교
rfc_model = rfc_gs.best_estimator_
rfc_model.fit(X_train, y_train)

y_predict = rfc_model.predict(X_test)
y_predict

array(['걷기/조깅', '걷기/조깅', '걷기/조깅', ..., '걷기/조깅', '걷기/조깅', '걷기/조깅'],
      dtype=object)

In [89]:
y_test_df = y_test.reset_index()
y_test_df.head()

   index      운동종목
0    370        등산
1   2580     걷기/조깅
2   5139     걷기/조깅
3   3827  걷기/조깅&등산
4    776     걷기/조깅

In [90]:
y_pred_df = pd.concat([pd.DataFrame(y_test.index).rename(columns={0:'index'}), pd.DataFrame(y_predict)], axis=1).rename(columns={0:'운동종목(예측)'})
y_pred_df.head()

   index 운동종목(예측)
0    370    걷기/조깅
1   2580    걷기/조깅
2   5139    걷기/조깅
3   3827    걷기/조깅
4    776    걷기/조깅

In [91]:
# 실제 y값과 예측 y값 데이터 결합
pd.merge(y_test_df, y_pred_df, on='index')

      index      운동종목 운동종목(예측)
0       370        등산    걷기/조깅
1      2580     걷기/조깅    걷기/조깅
2      5139     걷기/조깅    걷기/조깅
3      3827  걷기/조깅&등산    걷기/조깅
4       776     걷기/조깅    걷기/조깅
...     ...       ...      ...
1166   1445        등산    걷기/조깅
1167   3810     걷기/조깅    걷기/조깅
1168   3764     걷기/조깅    걷기/조깅
1169   1417     걷기/조깅    걷기/조깅
1170   3009     걷기/조깅    걷기/조깅

[1171 rows x 3 columns]

In [92]:
pd.merge(y_test_df, y_pred_df, on='index')[['운동종목(예측)']].value_counts()

운동종목(예측)
걷기/조깅              1162
등산                    7
걷기/조깅&맨손체조/스트레칭       1
자전거&걷기/조깅             1
dtype: int64

In [116]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print(accuracy_score(y_test, y_predict)) # 정확도
print(recall_score(y_test, y_predict, average='weighted')) # 재현도
print(precision_score(y_test, y_predict, average='weighted')) # 정밀도
print(f1_score(y_test, y_predict, average='weighted')) # F1 Score

0.4807856532877882
0.4807856532877882
0.40056206905244957
0.3159556399500407

C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

---
### Soft Voting

In [93]:
from sklearn.ensemble import VotingClassifier
from sklearn.tree import DecisionTreeClassifier

# 약한 학습기 생성
svc_model = SVC(probability=True) # soft 방식을 위해서 probability 옵션 지정 필요
knn_model = KNeighborsClassifier()
dt_model = DecisionTreeClassifier()

# 앙상블 모델 구축(soft voting)
voting_model = VotingClassifier(
    estimators = [('svc', svc_model),('knn', knn_model), ('dt', dt_model)], # 3개의 약한 학습기
    voting = 'soft', # 간접 투표
    n_jobs = -1
)

# 앙상블 모델 학습
voting_model.fit(X_train, y_train)

# 모델 비교
for model in (svc_model, knn_model, dt_model, voting_model):
    model.fit(X_train, y_train)
    print(model.__class__.__name__, '학습 데이터 점수: {}'.format(model.score(X_train, y_train)))
    print(model.__class__.__name__, '평가 데이터 점수: {}'.format(model.score(X_test, y_test)), '\n')

SVC 학습 데이터 점수: 0.45714285714285713
SVC 평가 데이터 점수: 0.47651579846285225

KNeighborsClassifier 학습 데이터 점수: 0.5014652014652015
KNeighborsClassifier 평가 데이터 점수: 0.426131511528608

DecisionTreeClassifier 학습 데이터 점수: 1.0
DecisionTreeClassifier 평가 데이터 점수: 0.27241673783091375

VotingClassifier 학습 데이터 점수: 0.9802197802197802
VotingClassifier 평가 데이터 점수: 0.34244235695986336

In [117]:
# 실제 y_test 값과 예측 y_predict 값 비교
y_predict = voting_model.predict(X_test)
y_predict

array(['자전거&걷기/조깅', '걷기/조깅', '걷기/조깅', ..., '걷기/조깅&맨손체조/스트레칭', '걷기/조깅&자전거',
       '걷기/조깅'], dtype=object)

In [95]:
y_test_df = y_test.reset_index()
y_test_df.head()

   index      운동종목
0    370        등산
1   2580     걷기/조깅
2   5139     걷기/조깅
3   3827  걷기/조깅&등산
4    776     걷기/조깅

In [96]:
y_pred_df = pd.concat([pd.DataFrame(y_test.index).rename(columns={0:'index'}), pd.DataFrame(y_predict)], axis=1).rename(columns={0:'운동종목(예측)'})
y_pred_df.head()

   index   운동종목(예측)
0    370  자전거&걷기/조깅
1   2580      걷기/조깅
2   5139      걷기/조깅
3   3827  맨손체조/스트레칭
4    776      걷기/조깅

In [97]:
# 실제 y값과 예측 y값 데이터 결합
pd.merge(y_test_df, y_pred_df, on='index')

      index      운동종목         운동종목(예측)
0       370        등산        자전거&걷기/조깅
1      2580     걷기/조깅            걷기/조깅
2      5139     걷기/조깅            걷기/조깅
3      3827  걷기/조깅&등산        맨손체조/스트레칭
4       776     걷기/조깅            걷기/조깅
...     ...       ...              ...
1166   1445        등산               등산
1167   3810     걷기/조깅  걷기/조깅&맨손체조/스트레칭
1168   3764     걷기/조깅  걷기/조깅&맨손체조/스트레칭
1169   1417     걷기/조깅        걷기/조깅&자전거
1170   3009     걷기/조깅            걷기/조깅

[1171 rows x 3 columns]

In [98]:
pd.merge(y_test_df, y_pred_df, on='index')[['운동종목(예측)']].value_counts()

운동종목(예측)
걷기/조깅              673
걷기/조깅&맨손체조/스트레칭    170
맨손체조/스트레칭           43
자전거                 29
맨손체조/스트레칭&걷기/조깅     22
                  ...
요가&수영                1
요가&걷기/조깅             1
등산&기타                1
수영&자전거               1
호흡운동&맨손체조/스트레칭       1
Length: 64, dtype: int64

In [99]:
pd.merge(y_test_df, y_pred_df, on='index')[['운동종목']].value_counts()

운동종목
걷기/조깅              558
걷기/조깅&맨손체조/스트레칭    188
맨손체조/스트레칭           57
자전거                 33
걷기/조깅&자전거           21
                  ...
수영&등산                1
수영&볼링                1
수영&자전거               1
수중운동&호흡운동            1
호흡운동&웨이트 트레이닝        1
Length: 85, dtype: int64

In [118]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print(accuracy_score(y_test, y_predict)) # 정확도
print(recall_score(y_test, y_predict, average='weighted')) # 재현도
print(precision_score(y_test, y_predict, average='weighted')) # 정밀도
print(f1_score(y_test, y_predict, average='weighted')) # F1 Score

0.34244235695986336
0.34244235695986336
0.29754568612627347
0.31696742212991413

C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

---
### Gradient Boosting: 여러 개의 결정 트리를 묶어 강력한 모델을 만드는 또 다른 앙상블 방법

In [119]:
from sklearn.ensemble import GradientBoostingClassifier

gbrt = GradientBoostingClassifier()
gbrt.fit(X_train, y_train)

print('학습 데이터 점수: {}'.format(gbrt.score(X_train, y_train)))
print('평가 데이터 점수: {}'.format(gbrt.score(X_test, y_test)))

학습 데이터 점수: 0.7677655677655678
평가 데이터 점수: 0.42442356959863364

In [128]:
y_predict = gbrt.predict(X_test)

In [129]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print(accuracy_score(y_test, y_predict)) # 정확도
print(recall_score(y_test, y_predict, average='weighted')) # 재현도
print(precision_score(y_test, y_predict, average='weighted')) # 정밀도
print(f1_score(y_test, y_predict, average='weighted')) # F1 Score

0.42442356959863364
0.4244235695986336
0.30021133073389816
0.3289930985784192

C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

---
### 범주형 변수 전처리
#### 가변수 만들기(흡연여부, 음주횟수, 통증/불편 운동 주기)

In [165]:
# factor형 변환
variableNames = ['장애등급', '흡연 여부', '음주횟수', '운동 주기', 'EQ-5D (통증/불편)']
for i in range(len(variableNames)):
    data[variableNames[i]] = data[variableNames[i]].astype('object')

In [166]:
data[['장애등급', '흡연 여부', '음주횟수', '운동 주기', 'EQ-5D (통증/불편)']].info() # 변환 결과 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2260 entries, 0 to 6249
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   장애등급           2260 non-null   object
 1   흡연 여부          2260 non-null   object
 2   음주횟수           2260 non-null   object
 3   운동 주기          2260 non-null   object
 4   EQ-5D (통증/불편)  2260 non-null   object
dtypes: object(5)
memory usage: 105.9+ KB

In [167]:
catego_df = pd.get_dummies(data[['장애등급', '흡연 여부', '음주횟수', '운동 주기', 'EQ-5D (통증/불편)']])
data_result = pd.concat([data, catego_df], axis=1)
data_result.head()

,성별,생년,장애등급,지체장애여부,뇌병변장애여부,01)만성질환명(고혈압),20)만성질환명(허리목통증),16)만성질환명(골관절염(퇴행성\n관절염)),06)만성질환명(당뇨병),흡연 여부,...,운동 주기_1,운동 주기_2,운동 주기_3,운동 주기_4,운동 주기_5,운동 주기_6,EQ-5D (통증/불편)_0,EQ-5D (통증/불편)_1,EQ-5D (통증/불편)_2,EQ-5D (통증/불편)_3
0,0,1970,6,1,0,0,0,0,0,3,...,0,0,0,1,0,0,0,1,0,0
2,0,1976,6,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,1,0,0
3,1,1958,5,1,0,0,1,0,0,4,...,1,0,0,0,0,0,0,0,1,0
8,1,1955,5,1,0,1,1,0,0,4,...,0,0,1,0,0,0,0,0,1,0
13,1,1952,6,0,1,1,0,0,0,4,...,1,0,0,0,0,0,0,0,1,0